body{
	background-color: #1f83ab;
	background-image: url(images/body_repeat.png);
}
.miniblog{
	background-image: url(images/profile_body_bg.jpg);
	background-position: center 0;
}
.miniblog_fb{
	background-image: none;
}