<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新浪微博-随时随地分享身边的新鲜事儿</title>
	<style>
		a{margin-right: 20px;color:rgb(20, 160, 205);line-height: 24px;}
		div{margin:20px ;}
	</style>
	<base target="_blank" />
</head>
<body>
	
	<div>
		<a href="login">登录</a>
		<a href="signup">注册</a>
	</div>

	<div>
		<a href="indexs">个人主页</a>
		<a href="home">我的首页</a>
		<a href="one">单条带评论微博</a>
	</div>

	<div>
		<a href="setinfo">编辑个人资料</a>
		<a href="photo">设置头像</a>
	</div>

	<div>
		<a href="follow">关注</a>
		<a href="fans">粉丝</a>
	</div>
	
	<div>
		<a href="msg">消息</a>
		<a href="at">@我的消息</a>
		<a href="commin">收到的评论</a>
		<a href="commout">发出的评论</a>
		<a href="letter">私信</a>
		<a href="letter2">私信列表</a>
	</div>
	
	<div>
		<a href="ta">她的主页</a>
	</div>
	<div>
		<a href="search">搜索页面</a>
	</div>
</body>
</html>