/**	
 *===============
 * 皮肤3 棕色
 *===============
 */

/*主文字*/
body{
	color:#3e1e1e;
}
/*主链接*/
a,.S_func1:hover{
	color:#cf9e8b;
}
/*次链接*/
.S_link2,.S_func2:hover{
	color:#885a62;
}
/*转发次链接*/
.S_func2{
	color: #dec1b6;
}
