/*CI调试信息样式*/
#codeigniter_profiler{
	width: 980px;
	margin:0 auto;
	cursor: pointer;
}
#codeigniter_profiler fieldset{
	display: none;
}
#codeigniter_profiler:hover fieldset{
	display: block;
}
/*CI调试信息样式结束*/

body{
	font: 12px/1.125 Arial,Helvetica,sans-serif;
	color: #333;
}
fieldset {
	display: block;
	padding: 0 0 0 20px;
	border-style: solid;
	border-width: 1px 0 0 0;
}

.S_txt2{
	color:#808080;
}
/*分隔断线*/
.S_txt3 {
	color: #aeaeae;
}
.func .S_txt3 {
	margin: 0px 6px 0px 8px;
}
/*主链接*/
a,.S_func1:hover{
	color:#0a8cd2;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
/*次链接*/
.S_link2,.S_func2:hover{
	color: #6cbae4;
}
/*转发次链接*/
.S_func2{
	color: #b1d8ed;
}
.S_func1{
	color:#333;
	text-decoration: none;
}
/*主页内容部分*/
.S_bg4{
	background-color: #fafafa;
}
/*主页头部分*/
.S_bg5 {
	background-color: #fff;
}

.S_line1_c {
	color: #d9d9d9;
}
.S_line2 {
	border-color: #E6E6E6;
}
.S_bg4_c{
	color: #fafafa;
}
.W_btn_a,.W_btn_b:hover {
	border-width: 1px;
	border-style: solid;
	border-color: #ff9b01;
	background-color: #ffa00a;
	color: #fff;
	border-radius: 2px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	cursor: pointer;
}
.W_btn_a:hover, .W_btn_d:hover, .W_btn_b:hover, .W_btn_a:hover span, .W_btn_d:hover span, .W_btn_b:hover span {
	text-decoration: none;
	background: rgb(255,184,71);
	background-image: linear-gradient(rgba(255,184,71,1) 0%,rgba(255,162,16,1) 100%);
}
.W_btn_a span,.W_btn_b span,.W_btn_c span,.W_btn_c_disable span,.W_btn_a_disable span{
	padding: 0 9px 0 10px;
	white-space: nowrap;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
	border-radius: 2px;
	height: 18px;
	line-height: 18px;

}
.W_btn_a span {
	border-color: #ffb33b;
	color: #fff;
}

.W_btn_b,.W_btn_c {
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	overflow: hidden;
	vertical-align: middle;
	cursor: pointer;
	border-color: #d9d9d9;
	background-color: #f2f2f2;
}
.W_btn_b span,.W_btn_c span{
	color: #333333;
}

.W_btn_a:hover span, .W_btn_b:hover span{
	border-color: #FFCE82;
	color: #FFFFFF;
}

.W_btn_c:hover, .W_btn_round:hover, .W_btn_round_ico:hover, .W_btn_round2:hover {
	background-color: #fafafa;
}
.W_btn_c_disable,.W_btn_a_disable{
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	overflow: hidden;
	vertical-align: middle;
	cursor: pointer;
	background: #f2f2f2;
	border-color: #d9d9d9;
}

.W_btn_c_disable,.W_btn_a_disable{
	cursor: default;
}
.W_btn_c_disable span,.W_btn_a_disable span,.W_btn_a_disable:hover span{
	color:#ccc;
}
.W_btn_a .W_f14, .W_btn_b .W_f14, .W_btn_c .W_f14,.W_btn_a_disable .W_f14{
	font-size: 14px;
}
.W_btn_a .btn_30px, .W_btn_b .btn_30px, .W_btn_c .btn_30px, .W_btn_v .btn_30px,.W_btn_a_disable .btn_30px{
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 15px;
}
.W_input, .W_inputStp {
	border:1px solid #ccc;
	border-radius: 2px;
	height: 28px;
	padding: 0px 0px 0px 2px;
	vertical-align: middle;
	color: #808080;
	box-shadow: 0px 1px 1px 0px #eaeaea inset;
	resize:none;
}
.W_input_focus, .W_input:focus, .W_inputStp:focus {
	border-color: rgb(255, 185, 65) ! important;
	box-shadow: 1px 1px 1px 0px rgb(221, 221, 221) inset;
	color: rgb(51, 51, 51);
}
textarea.W_input {
	overflow-y: auto;
	overflow-x: hidden;
	height: 45px;
	width: 100%;
	line-height: 18px;
	padding: 5px 0px 0px 2px;
}
.W_checkbox, .W_radio {
	vertical-align: -2px;
	margin-right: 3px;
}
.S_line1 {
	border-color: rgb(217, 217, 217);
}
.W_tips .txt a{
	color: rgb(244, 140, 18);
}
.W_tips {
	font-size: 12px;
	overflow: hidden;
	padding: 5px 7px 5px 10px;
}
.W_tips p{
	margin:0;
}
.W_tips.tips_warn {
	border: 1px solid rgb(190, 210, 237);
	background: none repeat scroll 0% 0% rgb(247, 249, 255);
	line-height: 12px;
	color: rgb(102, 102, 102);
}
/*icon*/
.icon_error, .icon_del, .icon_succ, .icon_warn, .icon_ask, .icon_rederror, .icon_errorS, .icon_delS, .icon_succS, .icon_warnS, .icon_askS, .icon_rederrorS, .icon_errorM, .icon_delM, .icon_succM, .icon_warnM, .icon_questionM, .icon_rederrorM, .icon_errorB, .icon_delB, .icon_succB, .icon_warnB, .icon_questionB, .icon_rederrorB, .icon_promptS, .icon_noticeS {
	width: 16px;
	height: 16px;
	background: url(../images/ico_warn.png) no-repeat;
	margin: 0px 3px 0px 0px;
	overflow: hidden;
	display: inline-block;
	vertical-align: -3px;
}
.W_ico12 {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
}
.W_ico16 {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
}
.W_ico20 {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
}
.W_tips .close {
	margin: 2px 0px 0px 10px;
	float: right;
}
.icon_close {
	background-position: -75px -25px;
	vertical-align: 0px;
}
.icon_warn, .icon_warnS {
	background-position: 0px -200px;
}
.icon_error, .icon_errorS{
	background-position: 0 -100px;
}
.icon_close:hover {
	background-position: -100px -25px;
}
.icon_rederror, .icon_rederrorS {
	background-position: 0 -250px;
}
.global_nav .container{
	background: transparent!important;
	position: relative;
}
.container{
	width: 980px;
	margin: 0 auto;
}
body.login .container,body.signup .container{
	width:900px;
}
/**
 *注册页面
 */
 body.login{
 	background: url(../images/bg_repeat_reg.png) repeat-x
 }
 
 body.login .header{
 	padding:10px 0;
 }
 body.login .logo{
 	width: 130px;
 	height: 40px;
 	background: url(../images/logo.png) no-repeat;
 }
 body.login .container>.content{border-top:2px solid #F62638;
 	background: url(../images/main_bg.png) no-repeat 0 bottom;
 }
 .leftbox{
 	width: 567px;
 	padding-right: 3px;
 	background: url(../images/login_vline.png) no-repeat right center;
 	color: #333;
 }
 .leftbox .top{
 	padding: 17px 0 17px 30px;
 	border-bottom: 1px solid #e6e6e6;
 	line-height: 32px;
 	font-size: 26px;
 	font-family: "Microsoft Yahei";
 	font-style: italic;
 	background-color: #fafafa;
 }

 /*立即注册按钮*/
 .btn_reg_red, .btn_reg_red span, .W_btn_g ,.W_btn_g span {
 	display: inline-block;
 	cursor: pointer;
 }
 .btn_reg_red {
 	margin-left: 24px;
 	font-style: normal;
 	border: 1px solid #e64141;
 	border-radius: 2px;
 	box-shadow: 0px 1px rgba(0,0,0,.3);
 }

 .btn_reg_red span {
 	width: 143px;
 	height: 36px;
 	line-height: 36px;
 	border: 1px solid #eb6767;
 	color: #FFF;
 	background: #e64141;
 	font-size: 22px;
 	text-align: center;
 	font-family: "Microsoft yahei";
 }
 .btn_reg_red:hover span {
 	background:linear-gradient(#f95959 0%,#f04d4d 50%,#e74242 100%);
 }

 /*登录按钮*/
 .W_btn_g {
 	border-width: 1px;
 	border-style: solid;
 	border-color: #ff9b01;
 	background-color: #ffa00a;
 	border-radius: 2px;
 	overflow: hidden;
 	vertical-align: middle;
 }
 .W_btn_g span{
 	text-align: center;
 	white-space: nowrap;
 	border-style: solid;
 	border-width: 1px;
 	border-radius: 2px;
 	height: 26px;
 	line-height: 25px;
 	vertical-align: middle;
 	font-size: 14px;
 	font-weight: bold;
 	border-color: #ffb33b;
 	padding: 0 79px 0 78px;
 	min-width: 49px;
 	color: #fff;
 }
 .W_btn_g:hover{
 	background: linear-gradient(rgba(255,184,71,1) 0%,rgba(255,162,16,1) 100%);
 }

 .leftbox .show_img{
 	background: #fff;
 	padding: 15px 6px 15px 10px;
 }
 .loginbox{
 	width: 271px;
 	padding-left:59px;
 	font-size:12px;
 }
 .W_login_form{
 	width: 210px;
 	margin: 29px 0 0;
 }
 .W_login_form .title{
 	line-height: 30px;
 }
 .W_login_form .title a{
 	line-height: 30px;
 }
 .W_login_form .W_vline{
 	margin: 0 8px 0 10px;
 }

 .W_login_form form p{
 	position: relative;
 }
 .W_login_form form p span{
 	position: absolute;
 	left:40px;
 	top:9px;
 	color:#808080;
 }
 .W_login_form .W_input{
 	width: 167px;
 	padding-left:37px;
 	background: url(../images/form_login.png) no-repeat;
 }
 .loginbox input[name=passwd]{
 	background-position: 0 -50px;
 }
 #W_login_form_savestate{
 	margin-right: 3px;
 	vertical-align:-2px;
 }
 .icon_ask{
 	background-position: 0 -150px;
 }

 .auto_login a{
 	text-decoration:none
 }

 .login_mode{
 	margin-top:25px;
 	width: 149px;
 	height: 71px;
 	background: url(../images/login_mode.jpg) no-repeat;
 }
 body.login .footer{
 	clear:both;
 	background: #f7f7f8 url(../images/footer_top_bg.jpg) no-repeat center top;
 	text-align: center;
 	font-size: 12px;
 	color:#808080;
 	line-height:8px;
 	padding:15px 30px 30px;
 }
 .footer a{
 	color:#808080;
 }
 .footer i{
 	margin:0 8px;
 }

/**
 *注册页面
 */
 body.signup{
 	background: url(../images/reg_repeat_bg.png) repeat-x;
 }

 .header_line{
 	height: 3px;
 	border-bottom: 1px solid #e6f1f9;
 	background: url(../images/top_line_bg.png) repeat-x;
 }
 .reg_header{
 	height: 164px;
 	padding:10px 0;
 	background: url(../images/bg_reg_wave.png) no-repeat center bottom;
 }
 .logo_big{
 	width: 278px;
 	height: 72px;
 	margin: 0 auto;
 	margin-top: 26px;
 	background: url(../images/logo_big.png) no-repeat;
 }
 body.signup .content{
 	border-radius: 5px;
 	box-shadow: 0 1px 5px rgba(0,0,0,.3);
 	background: #fff;
 	padding:30px 40px;
 }
 body.signup .reg_title{
 	font-size: 22px;
 	padding-bottom: 15px;
 }
 body.signup .reg_title a.cur{
 	border-bottom: 3px solid #FFA00A;
 	padding-bottom: 5px;
 }
 body.signup .reg_title .vline{
 	margin: 0 19px;
 	color: #999;
 }
 .reg_info{
 	background: url(../images/reg_vline.png) no-repeat 630px 0;
 	font-size: 14px;
 	margin-top:30px;
 	padding-bottom: 60px;
 }
 .info_list{
 	margin: 0 0 15px;
 	position: relative;
 }

 .W_reg_form .inp .W_input {
 	font-size: 14px;
 }
 .W_reg_form .inp .W_input {
 	width: 196px;
 }

 .info_list .tit{
 	width:160px;
 	line-height: 30px;
 	text-align: right;
 }
 .info_list .tit i{
 	color:#FF0000;
 	padding-right: 4px;
 }
 .info_list .inp{
 	margin-left:160px;
 	line-height: 30px;
 }
 .info_list .attachment{
 	font-size: 12px;
 }
 .info_list .tips{
 	left: 375px;
 	position: absolute;
 	top: 8px;
 	font-size: 12px;
 	width: 230px;
 	display: none;
 }
  .info_list .tips:last-child{
	top:12px;
  }
 .info_list .tips p{
 	margin:0;
 	line-height: 15px;
 }
/* .info_list select{
 	height: 22px;
 	padding: 2px 0;
 }*/
 .info_list .tips p i{
 	vertical-align: middle;
 	float: left;
 }
 .info_list .notice{
 	color:#808080;
 }
 .info_list .error{
 	color:#e64141;
 }
 
 .info_list .choose label {
 	line-height: 30px;
 	margin-right: 10px;
 }
 .info_list .choose input {
 	vertical-align: -2px;
 }
 .W_reg_form input[name=code].W_input{
 	width: 70px;
 }
 .info_list #code{
 	vertical-align:middle;
 	cursor: pointer;
 }
 .info_list .verify_refresh{
 	background: url(../images/verify_refresh.png) no-repeat;
 	display: inline-block;
 	height: 17px;
 	overflow: hidden;
 	width: 18px;
 	position: relative;
 	top:5px;
 	left: 5px;
 }
 .info_list .verify_refresh:hover{
 	background-position: 0 -18px;
 }
 .info_list .verify_refresh + .error{
 	position: relative;
 	top:-5px;
 }
 /*立即注册按钮*/
 .W_btn_big span{
 	padding-top: 5px;
 	padding-bottom: 5px;
 	font-size: 16px;
 }
 .W_reg_form .agreement{
 	font-size: 12px;
 	line-height: 20px;
 }
.ico_loading{
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url(../images/loading.gif);
	vertical-align: -2px;
}
 .reg_sidebar{
 	width: 160px;
 	line-height: .8em;
 }
 .reg_sidebar p:first-child{
 	border-bottom: 1px dotted #ccc;
 	padding-bottom: 14px;
 }
 .reg_sidebar .p3{
 	color:#FFA00A;
 	font-weight: bold;
 	font-size: 16px;
 }
 body.signup .footer{	
 	font-size: 12px;
 	color:#6e9ab8;
 }

 .footer .footer_logo{
 	display: inline-block;
 	width: 26px;
 	height: 21px;
 	background: url(../images/reg_ico.png) no-repeat 0 4px;
 	vertical-align: -4px;
 }
 /*全局导航*/
 body{
 	background-color: #bee1f5;
 	background-image: url(../images/body_repeat.png);
 	background-repeat: repeat-x;
 }
 .miniblog {
 	background-repeat: no-repeat;
 	background-position: center 0;
 	padding-top: 60px;
 	background-image: url(../images/body_bg.png);
 	min-width: 980px;
 }
 .miniblog_fb {
 	background-image: url(../images/footer.png) center bottom no-repeat;
 }
 .global_nav {
 	position: fixed;
 	top: 0;
 	left: 0;
 	z-index: 9999;
 	width: 100%;
 	height: 41px;
 	box-shadow: 0px 1px 3px 0px #000;
 	background: url(../images/bg_line.png) repeat-x center 38px;
 	
 }
 .global_nav .nav_bg{
 	font-size:14px;
 	width: 100%;
 	height: 38px;
 	background: url(../images/bg_nav.png) repeat-x;
 }
 .global_nav .logo, .global_nav .nav{
 	display: inline-block;
 }
 .global_nav .logo a{
 	display: inline-block;
 	width: 150px;
 	height: 39px;
 	background: url(../images/WB_logo.png) -20px 0 no-repeat;
 }
 .global_nav .logo a:hover{
 	background-position: -20px -39px;
 }
 .global_nav .nav{

 	position: absolute;
 	top:0;
 }
 
 .global_nav .nav a{
 	display: inline-block;
 	padding: 11px 19px 11px 20px;
 	text-decoration: none;
 	color: #fff;
 	float:left;
 }
 .global_nav .nav a.current{
 	background: url(../images/bg_nav.png) repeat-x 0 -38px;
 }
 .global_nav .nav a:hover{
 	background: url(../images/bg_nav.png) repeat-x 0 -76px;
 }
 .ico_down{
 	border-width: 4px;
 	margin-left:3px;
 	vertical-align: -10px;
 	border-style: solid dashed dashed;
 	border-color: #fff transparent transparent;
 }
 .global_nav .search{
 	position: absolute;
 	left:450px;
 	line-height: 38px;
 	display: inline-block;

 }
 .global_nav .search input{
 	font-size:12px;
 	width: 218px;
 	border-radius: 15px;
 	height: 16px;
 	min-height:16px;
 	color:#808080;
 	padding-left:10px;
 }

 .global_nav .search input:hover{
 	color:#333;
 }

 .global_nav .search .btn{
 	position: absolute;
 	right:4px;
 	top:8px;
 	display: inline-block;
 	width: 20px;
 	height: 20px;
 	margin: 4px 0 0;
 	background: url(../images/bg_line.png) no-repeat;
 	background-position: -450px -6px;
 	vertical-align: top;
 }
 .global_nav .user {
 	position: absolute;
 	right:0;
 	top:0;
 	margin:0;
 }
 .global_nav .user>li{
 	float:left;
 }
 .global_nav .user>li>a{
 	height:38px;
 	line-height: 38px;
 	padding:0 14px;
 	display: inline-block;
 	color:#fff;	
 	text-decoration: none;
 }
 .global_nav .user>li:hover{
 	background: url(../images/bg_nav.png) repeat-x 0 -76px;
 }
 .global_nav .user i{
 	vertical-align: middle;
 	background-image: url(../images/bg_line.png);
 	background-repeat: no-repeat;
 	width: 16px;
 	height: 16px;
 	display: inline-block;
 }
 .global_nav .user .editor i{
 	background-position: -225px -6px;
 }
 .global_nav .user .msg i{
 	background-position: -275px -6px;
 }
 .global_nav .user .setting i{
 	background-position: -350px -6px;
 }
 .global_nav .user .member i{
 	background-position: -400px -6px;
 }

 .global_nav .user .msg:hover i{
 	background-position: -325px -4px;
 }
 .global_nav .user .setting:hover i{
 	background-position: -375px -6px;
 }
 .global_nav .user .msg .W_new{
 	position: absolute;
 	top: 9px;
 	right: 12px;
 }
 .global_nav .user .msg,.global_nav .user .setting{
 	position: relative;
 }
 .global_nav .user .msg:hover>a,.global_nav .user .setting:hover>a{
 	position: relative;
 	padding-bottom: 10px;
 	z-index: 1;
 	background:  url(../images/bg_line.png) right -3px no-repeat;
 }
 .global_nav .user .msg:hover ul,.global_nav .user .setting:hover ul{
 	display: block;
 }
 .global_nav .user .msg ul,.global_nav .user .setting ul{
 	display: none;
 	position: absolute;
 	left:-108px;
 	background: #fff;
 	width:150px;
 	border:1px solid #333;
 	top:39px;
 	padding: 5px 0;
 	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
 }
 .global_nav .user .msg ul li,.global_nav .user .setting ul li{
 	height: 26px;
 	line-height: 26px;
 	font-size: 12px;
 }
 .global_nav .user .msg ul li a,.global_nav .user .setting ul li a {
 	display: block;
 	padding: 0 15px;
 	white-space: nowrap;
 	color: #333;
 	text-decoration: none;
 }
 .global_nav .user .msg ul li a:hover,.global_nav .user .setting ul li a:hover{
 	background:#e6e6e6;
 }
 .global_nav .user .setting .logout{
 	background: #f2f2f2;
 	color: #0a8cd2;
 	margin-bottom: -5px;
 }
 .global_nav .gn_tips {
 	position: absolute;
 	width: 190px;
 	padding: 7px 0px 10px;
 	border-top: medium none;
 	border-bottom-left-radius: 2px;
 	border-bottom-right-radius: 2px;
 	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
 	top: 41px;
 	right:0;
 	background:#fff;
 	z-index: 9998;
 	border: 1px solid rgb(51, 51, 51);
 	font-size: 12px;
 	color: #333;
 }
 .global_nav .gn_tips a{
 	color:#0a8cd2;
 }
 .global_nav .gn_tips .tips_list {
 	padding: 3px 0px 0px;
 }
 .global_nav .gn_tips .icon_close {
 	width: 15px;
 	height: 15px;
 	background: url('../images/bg_line.png') no-repeat 0px -25px;
 	position: absolute;
 	top: 3px;
 	right: 3px;
 }
 .global_nav .gn_tips .icon_close:hover{
 	background-position: -25px -25px;
 }
 .global_nav .gn_tips .tips_list li {
 	padding: 0px 15px;
 	line-height: 21px;
 	display: none;
 }
 body.index .container{
 	margin:0 auto;
 	position: relative;
 }

 /**
 * 左导航
 */
 .container.main{
 	background: #fff url(../images/repeat_bg_y.png) repeat-y;
 }
 body.index .left_nav li ul{
 	display: none;
 }
 .left_nav{
 	width: 150px;
 	overflow: hidden;
 	padding: 12px 0 30px;
 }
 .left_nav a{
 	display: inline-block;
 	width: 130px;
 	color:#333;
 	font-size:14px;
 	height: 35px;
 	line-height: 35px;
 	text-decoration: none;
 	padding-left:20px;
 }
 .left_nav .group a{
 	padding-left:30px;
 	font-size: 12px;
 }
 .left_nav a.curr{
 	background: #fff;
 	font-weight: bold;
 }

 /*首页新动态*/
 .W_new{
 	width: 4px;
 	height: 4px;
 	display: inline-block;
 	border: 2px solid #fff;
 	border-radius: 4px;
 	background: #e43e3e;
 	box-shadow: 0px 0px 2px 1px rgba(100,100,100,0.5);
 	overflow: hidden;
 }
 .left_nav .W_new{
 	float: right;
 	margin: 12px 8px 0 0;
 }
 .left_nav .goodfriend{
 	padding:10px 0;
 	border-top:1px solid #d9d9d9;
 }
 .left_nav .group a{
 	height: 28px;
 	line-height: 28px;
 }
 .left_nav a:not(.curr):hover,.left_nav li ul a.curr{
 	background: #e6e6e6 url(../images/left_nav_border.png) -150px bottom no-repeat;
 }
 
 .left_nav fieldset{
 	border-color: #d9d9d9;
 	margin:0;
 	padding: 0 0 10px 15px;
 }

 .left_nav fieldset legend{
 	line-height: 22px;
 	font-weight: bold;
 	font-size: 12px;
 	padding: 1px 5px 0;
 }
 .left_nav .W_ico20 {
 	margin-right: 10px;
 	vertical-align: -5px;
 }
 .ico_message {
 	background-position: 0 -25px;
 }
 .ico_favor {
 	background-position: 0 -50px;
 }
 .ico_sendtome {
 	background-position: 0 -75px;
 }

 .ico_goodfriend {
 	background-position: 0 -299px;
 }
 .ico_group {
 	background-position: 0 -124px;
 }

 .curr .ico_message
 {
 	background-position: -25px -25px;
 }
 .box_center{
 	padding:20px 0 30px;
 	min-height: 800px;
 	overflow: hidden;
 	width: 600px;

 }
 .box_center:only-child{
 	width: auto;
 	background: #fff;
 }

 .box_center>div:first-child{
 	padding:0 20px 11px;
 }
 .box_center .send_weibo{
 	position: relative;
 }
 .box_center .title_area{
 	height:22px;
 	position: relative;
 	text-indent: -9999em;
 }
 .box_center .title_area s{
 	display: inline-block;
 	width: 224px;
 	height: 22px;
 	position: absolute;
 	left:0;
 	top:0;
 	right: 0;
 	bottom: 0;
 	background:url(../images/all_iconbtn.png) no-repeat;
 }
 /*还能输入140字*/
 .send_weibo .num{
 	position: absolute;
 	top:0;
 	right:0;
 	line-height: 24px;
 }
 .send_weibo .num span {
 	font-weight: 700;
 	font-size: 22px;
 	font-style: italic;
 	font-family: Constantia, Georgia;
 }
 .send_weibo .input{
 	position: relative;
 	margin: 15px 0 0;
 }

 .send_weibo .input_detail{
 	font-family: "Tahoma", "SimSun";
 	line-height: 18px;
 	overflow-x: hidden;
 	overflow-y: auto;
 	word-wrap: break-word;
 	outline: none;
 	padding: 5px;
 	resize:none;
 	width: 548px;
 	height: 88px;
 	font-size: 14px;
 	border-radius: 3px;
 	background: #FFF;
 	border: 1px solid #ccc;
 	box-shadow: 1px 1px 1px 0px #eaeaea inset;
 }

 .send_weibo .input .arrow{
 	display: block;
 	width: 11px;
 	height: 19px;
 	position: absolute;
 	top: 19px;
 	right: -10px;
 	background:url(../images/all_iconbtn.png) -475px 0 no-repeat;
 	
 }
 .send_weibo .input.clicked .input_detail{
 	border-color:#ffb941;
 }
 .send_weibo .input.clicked .arrow{
 	background:url(../images/icon.png) -475px -51px no-repeat;
 }
 /*微博发表成功提示*/
 .box_center .input .send_succpic{
 	display: block;
 	width: 135px;
 	height: 48px;
 	position: absolute;
 	top: 20px;
 	left: 220px;
 	overflow: hidden;
 }
 .box_center .input .send_succpic .icon_succB {
 	float: left;
 	width: 37px;
 	height: 50px;
 	background-position: -100px 0;
 	margin: 0 10px 0 0;
 }
 .box_center .input .send_succpic .txt {
 	color: #333;
 	display: block;
 	font: normal 16px/22px Microsoft Yahei;
 	margin-top: 12px;
 }
 .ico_faces {
 	background-position: -275px 0px;
 	cursor: pointer;
 }
 /*发布微博按钮*/
 .send_weibo .send_btn{
 	margin-top:5px;
 	border-width: 1px;
 	border-style: solid;
 	border-radius: 2px;
 	display: inline-block;
 	overflow: hidden;
 	vertical-align: middle;
 	cursor: pointer;
 }
 .send_weibo .send_btn span {
 	display: inline-block;
 	width: 78px;
 	height: 26px;
 	line-height: 26px;
 	text-align: center;
 	font-size: 16px;
 	border-width: 1px;
 	border-style: solid;
 	font-family: "Microsoft Yahei";
 }
 .W_btn_v, .W_btn_v:hover {
 	border-color: #e64141;
 	background-color: #e64141;	
 }
 .W_btn_v:hover{
 	background-image: linear-gradient(rgba(249,89,89,1) 0%,rgba(231,67,67,1) 100%);
 }
 .W_btn_v span {
 	border-color: #f57373;
 	color: #fff;
 	text-shadow: 1px 1px rgba(0,0,0,.2);
 }
 .W_btn_v_disable, .W_btn_v_disable:hover {
 	background: #f2f2f2;
 	border-color: #d9d9d9;
 }
 .W_btn_v_disable span{
 	border-color: #fff;
 	color:#ccc;
 	text-shadow: none;
 }

 .kind_detail{
 	font-size: 12px;
 	width: 390px;
 	padding: 10px 0 0;
 }

 .kind_detail a{
 	margin-right: 14px;
 }
 .kind_detail .W_ico16{
 	margin: 0 4px 0 0;
 	vertical-align: -4px;
 }
 .kind_detail i.icon_face{
 	background-position: -275px -0px;
 }
 .kind_detail i.icon_img{
 	background-position: -275px -25px;
 }
 .kind_detail i.icon_video{
 	background-position: -275px -50px;
 }
 .kind_detail i.icon_qing{
 	background-position: -275px -75px;
 }
 .kind_detail i.icon_chang{
 	background-position: -275px -100px;
 }
 /*弹出框*/
 .W_layer a, .W_layer .S_link1, .W_layer .S_func1:hover, .W_layer .SW_fun:hover .S_func1 {
 	color: rgb(10, 140, 210);
 }
 .W_layer{
 	position: absolute;
 	z-index: 10000;
 }
 .W_layer .bg{
 	padding: 3px;
 	border-radius: 4px;
 	background: url(../images/layer_bg.png);
 }
 .W_layer .title{
 	background: none repeat scroll 0% 0% rgb(242, 242, 242);
 	/*height: 30px;*/
 	line-height: 30px;
 	font-weight: 700;
 	padding: 0px 0px 0px 20px;
 	font-size: 12px;
 	vertical-align: middle;
 }
 .W_layer .wrap{
 	background: #fff;
 	border:1px solid #ccc;
 }

 .W_layer .wrap .content{
 	padding: 0px 20px;
 }
 .W_layer .profile_tab{
 	background: #fafafa;
 	border-bottom-width: 1px;
 	border-bottom-style: solid;
 	height: 29px;
 	padding-left: 20px;
 	padding-top: 10px;
 	margin: 0px -19px 9px ! important;
 }
 .W_layer .profile_tab li{
 	float: left;
 	border-width: 1px;
 	border-style: solid;
 	margin-right: -1px;
 }
 .W_layer .profile_tab li.current{
 	background: #fff;
 	padding-bottom: 1px;
 	border-bottom: none;
 	font-weight: 700;
 }
 .W_layer .profile_tab a{
 	display: block;
 	line-height: 26px;
 	padding: 0 15px;
 	border:1px solid #fff;
 	text-decoration: none;
 	color: #333;
 }
 
 .W_layer .tab_nosep{

 	line-height: 23px;
 	/*padding: 10px 0 0 24px;*/
 	padding: 0px 0px 10px;
 }
 .W_layer .tab_nosep li{
 	float: left;
 }
 .W_layer  .tab_nosep li a{
 	display: block;
 	line-height: 22px;
 	padding: 0 10px;
 	border-radius: 2px;
 }
 .W_layer .tab_nosep li.current a{
 	background: #e6e6e6;
 	color: #333;
 }
 .W_layer  .W_close{
 	position: absolute;
 	z-index: 2;
 	right: 17px;
 	top: 16px;
 	display: inline-block;
 	width: 16px;
 	height: 16px;
 	background: url(../images/icon.png) no-repeat -75px -200px;
 }
 .W_layer .W_close:hover{
 	background-position: -100px -200px;
 }
 .W_mask{
 	position: absolute;
 	left:0;
 	top:0;
 	right: 0;
 	bottom:0;
 	opacity: 0.3;
 	background: #000;
 	z-index: 999;
 }
 /*tips弹出框*/
 .W_layer.tips .bg{
 	position: relative;
 	top:45px;
 }
 .W_layer.tips .wrap{
 	width: 122px;
 }
 .W_layer.tips .content{
 	text-align: center;
 }
 .W_layer.tips .content p{
 	margin:15px 0;
 }
 /**/
 .W_layer.tips.center .wrap{
 	width: 175px;
 }
 .W_layer.tips.center .wrap i{
 	width: 25px;
 	height: 30px;
 	background-position:  -50px 0;
 	vertical-align: -10px;
 	font-size:14px;
 }
 .W_layer.tips.center .content p{
 	margin:25px 0;
 }
 /*modal弹出框*/
 .W_layer.modal p{
 	text-align: center;
 }
 /*表情弹出框*/
 .hotFace{
 	overflow: visible;
 }
 .hotFace .wrap{
 	width: 417px;
 }
 .hotFace .wrap .content{
 	padding-bottom: 0;
 }
 .hotFace .faces_list{
 	padding: 0 19px 20px;
 	margin-left: 4px;
 }
 .hotFace .faces_list li{
 	cursor: pointer;
 	float: left;
 	border: 1px solid #e8e8e8;
 	height: 22px;
 	width: 26px;
 	overflow: hidden;
 	margin: -1px 0 0 -1px;
 	padding: 4px 2px;
 	text-align: center;
 }
 .hotFace .arrow {
 	position: absolute;
 	width: 14px;
 	height: 9px;
 	top: -5px;
 	left:2px;
 	overflow: hidden;
 	display: block;
 	background: url(../images/layer_arrow.png) no-repeat;
 }
 
 /*模板个性设置弹出框*/
 .set_template{
 	left:50%;
 	top:50%;
 	margin-left:-288.5px;
 	margin-top:-197.5px;
 }
 .set_template .wrap{
 	width: 569px;
 }
 .set_template .tab_nosep{
 	border-bottom: 1px dotted rgb(204, 204, 204);
 }
 .set_template .template_list {
 	padding: 19px 0px 0px;
 	margin: 0px 0px -5px -7px;
 }
 .set_template .template_list li{
 	float: left;
 	margin: 0px 0px 18px 7px;
 	border: 1px solid rgb(255, 255, 255);
 	position: relative;
 	cursor: pointer;
 }
 .set_template .cover_list li {
 	margin: 0 0 10px 6px;
 }
 .set_template .diyControlPanel p{
 	border-bottom: 1px solid #e6e6e6;
 	font-weight: 700;
 }

 .set_template .diyControlPanel p span{
 	position: relative;
 	padding-bottom: 10px;
 	padding-right: 10px;
 	top:2px;
 	background: #fff;
 }

 .set_template .template_list a img{
 	border: 1px solid rgb(204, 204, 204);
 	display: block;
 }

 .set_template .template_list a span{
 	position: absolute;
 	bottom: 1px;
 	left: 1px;
 	right: 1px;
 	height: auto;
 	padding: 2px 0px;
 	line-height: 18px;
 	background: none repeat scroll 0% 0% rgba(74, 74, 74, 0.6);
 	text-align: center;
 	color: #fff;
 	opacity: 0;
 	transition: all 0.2s ease-in;
 }
 .set_template .template_list a:hover img {
 	border-color:#e6e6e6;
 	border-width: 2px;
 	margin:-1px;
 }
 .set_template .template_list a.current img {
 	border-color:#FFB941;
 	border-width: 2px;
 	margin:-1px;
 }
 .set_template .template_list a:hover span {
 	display: block;
 	opacity: 1;
 }
 .set_template  .diy_list{
 	margin: -10px 0 0 -22px;
 	overflow: hidden;
 	padding: 0 0 5px;
 }
 .set_template  .diy_list li{
 	float: left;
 	margin: 13px -1px 3px 19px;
 }
 .set_template  .diy_list li a{
 	display: block;
 	border:1px solid #CCC;
 	padding: 1px;
 }
 .set_template  .diy_list li a span{
 	display: none;
 }
 .set_template .diy_list a.current, .set_template  .diy_list li a:hover{
 	border-color:#FFB941;
 	border-width: 2px;
 	margin:-1px;
 }
 .set_template  .diy_list li img{
 	display: block;
 }
 .set_template .W_close{
 	top:10px;
 }
 .set_template .btn {
 	border-top: 1px solid rgb(204, 204, 204);
 	padding: 10px 0px 0px;
 	margin: 15px 0px;
 }
 .weibo .feed_nav h3{
 	padding: 0 10px;
 	line-height: 32px;
 	font-size: 14px;
 	border-bottom:2px solid #ea1429;
 }
 .weibo .feed_nav h3 +.bg{
 	position: relative;
 	top: -22px;
 	width: 44px;
 	height: 8px;
 	background:#fafafa url(../images/icon.png) no-repeat -500px -75px;
 	font-size: 0;
 }
 .weibo_type {
 	margin-top:-10px;
 }
 .weibo_type a{
 	font-size:12px;
 	line-height: 22px;
 	border-radius: 2px;
 	display: inline-block;
 	padding:0 10px;
 	text-decoration: none;

 }
 .weibo_type a:not(.active):hover{
 	text-decoration: underline;
 }
 .weibo_type a.active{
 	background:#e6e6e6;
 	color:#333;
 	cursor:default;
 }
 .weibo_list a.notes
 {
 	font-size:12px;
 	background: #fefded;
 	color: #F48C12;
 	border: 1px solid #f9f2a7;
 	display: block;
 	height: 23px;
 	line-height: 23px;
 	text-align: center;
 }
 .weibo_list .item{
 	font-size:14px;
 	border-bottom: 1px solid #e6e6e6;
 	padding: 0 0 11px;
 	overflow: hidden;
 	padding-top:20px;
 }
 .weibo_list .item:only-child{
 	border-bottom: none;
 }
 .weibo_list .item .face{
 	float: left;
 	width: 50px;
 	position: relative;
 }
 .weibo_list .item .detail{
 	margin-left:65px;
 	padding:4px 0px;
 }
 .weibo_list .detail .name{
 	font-weight: 700;
 }
 .weibo_list .detail .content{
 	font-size: 14px;
 	line-height: 23px;
 	padding: 4px 0 4px;
 }
 .weibo_list .detail .media_prev {
 	margin-right: -20px;
 	padding-bottom: 10px;
 }
 .weibo_list .detail .media_prev img{
 	cursor:url(../images/big.cur), auto!important;
 }
 .weibo_list .detail .func{
 	font-size: 12px;
 }
 .weibo_list .detail .func i{
 	margin: 0 6px 0 8px;
 }

 .weibo_list .detail .func .time{
 	margin-right: 7px;
 }
 .weibo_list .detail .forwardContent{
 	border: 1px solid #d9d9d9;
 	padding: 10px 20px 10px;
 	margin: 5px 0 15px;
 	border-radius: 3px;
 	background-color:#f2f2f2;
 }
 .weibo_list .detail .forwardContent .name{
 	font-size:12px;
 }
 .weibo_list .detail .forwardContent .content{
 	font-size:12px;
 	line-height: 21px;
 }
 .weibo_list .media_prev .lotspic_list li{
 	float: left;
 	display: inline;
 	width: 80px;
 	height: 80px;
 	margin: 5px 0 0 5px;
 	overflow: hidden;
 	position: relative;
 }
 .weibo_list .media_prev .lotspic_list{
 	width: 255px;
 	margin-left: -5px;
 	font-size: 0;
 }
 .weibo_list .comment{
 	background: #FAFAFA;
 	border-width: 1px;
 	border-style: solid;
 	padding: 10px 20px;
 	margin: 10px 0px 15px;
 	border-radius: 3px;
 }
 .weibo_list .comment *{
 	font-size: 12px;
 }

 .weibo_list .comment textarea{
 	width: 99%;
 	height:23px;
 }
 .weibo_list .comment .C_item{
 	padding: 7px 0px 10px;
 	margin: 1px 0px 0px;
 	border-width: 1px 0px 0px;
 	border-style: solid;
 }
 .weibo_list .comment .C_detail{
 	margin: 0px 0px 0px 40px;
 	line-height: 21px;
 	word-wrap: break-word;
 	vertical-align: text-bottom;
 }
 .weibo_list .comment .C_detail p{
 	margin:0;
 }
 .weibo_list .comment .C_detail .info {
 	text-align: right;
 }
 .weibo_list .comment .C_detail .info .S_txt3{
 	margin:0px 5px
 }
 .weibo_list .comment .W_tips {
 	margin:10px 0;
 }
 .weibo_list .comment .WB_arrow {
 	position: absolute;
 	z-index: 0;
 	margin: -18px 0 0;
 	margin-left: 445px;
 	width: 22px;
 	cursor: default;
 }

 .weibo_list .comment  .WB_arrow * {
 	font-family: "SimSun";
 	overflow: hidden;
 	font-size: 12px;
 	line-height: 1.231;
 	display: block;
 	height: 12px;
 }

 .weibo_list .comment  .WB_arrow span {
 	margin: -11px 0 0;
 }

 /*回复评论*/
 .weibo_list .comment .repeat {
 	clear: both;
 	line-height: 20px;
 	padding: 15px 20px 13px;
 	font-size: 12px;
 	margin: 10px 0 6px;
 	border-radius: 3px;
 	border-width: 1px;
 	border-style: solid;
 	zoom: 1;
 	position: relative;
 }
 .weibo_list .comment .repeat p{
 	margin: 5px 0  8px;
 }
 .weibo_list .comment .repeat .WB_arrow{
 	margin: -23px 0 0 370px;
 }
 .ico_faces{
 	vertical-align: -4px;
 	margin-right: 10px;
 }

 /*个人页面微博样式*/

 .weibo_list.feed_self .detail{
 	margin-left: 0;
 }
 .weibo_list.feed_self .comment .WB_arrow{
 	margin-left: 510px;
 }
 .weibo_list.feed_self .comment  .repeat .WB_arrow{
 	margin-left: 430px;
 }

/*
单条微博页面评论框高度为45px;
 .weibo_list.feed_self .comment textarea{
 	height: 45px;
 	}*/

 	/*右侧边栏*/

 	.box_right{
 		width: 230px;
 		padding: 20px 0 0;
 		position: relative;
 		font-size:12px;
 		position: relative;
 	}
 	.set_skin{
 		background:url(../images/icon.png) no-repeat -477px 0px;
 		display: block;
 		width: 23px;
 		height: 24px;
 		position: absolute;
 		right: 0px;
 		top: 0px;
 	}
 	.set_skin:hover{
 		background-position: -477px -25px;
 	}
 	.box_right .user_info{
 		padding:0 20px;
 	}
 	.box_right .user_info div{
 		float: right;
 		width:99px;
 		height: 80px;
 		font-size: 12px;
 		font-weight: bold;
 		margin:5px 0 0 8px;
 	}
 	.box_right .user_info div .username{
 		word-wrap: break-word;
 	}

 	.box_right .user_info div .level{
 		margin-top:3px;
 		display: inline-block;
 		overflow: hidden;
 		height: 9px;
 		width: 28px;
 		font-size: 0px;
 		padding: 5px 0px 0px 6px;
 		background: url(../images/level.png) no-repeat 0 -30px;
 	}

 	.W_level_ico {
 		display: inline-block;
 		overflow: hidden;
 		height: 9px;
 		width: 28px;
 		font-size: 0;
 		padding: 5px 0 0 6px;
 		background: url(../images/level.png);
 		vertical-align:-2px;
 	}
 	.W_level_num {
 		display: inline-block;
 		height: 10px;
 		font-size: 0;
 		width: 26px;
 		background: url(../images/level.png)
 	}
 	.W_level_ico.color3 {
 		background-position: 0 -30px;
 	}
 	.W_level_num.l7 {
 		background-position: 0 -210px;
 	}

 	.box_right  .user_atten{
 		padding: 20px;
 	}
 	.box_right  .user_atten li:not(:last-of-type){
 		float:left;
 		margin-right: 5px;
 		padding-right: 5px;
 		border-right:1px solid #e6e6e6;
 	}

 	.box_right  .user_atten li strong{
 		display: block;
 		font-size: 20px;
 		margin: 0px 0px 4px;
 		font-weight: 400;
 		line-height: 15px;
 		font-family: tahoma;
 	}

 	.box_right .hot_topics fieldset{
 		border-color: #e6e6e6;
 		margin:0;
 		padding: 0 0 10px 15px;
 	}

 	.box_right .hot_topics fieldset legend{
 		line-height: 22px;
 		font-weight: bold;
 		font-size: 14px;
 		padding: 1px 5px 0;
 	}
 	.box_right .hot_topics ul{
 		line-height: 24px;
 		padding:0 20px;
 	}
 	.box_right .hot_topics ul li{
 		position: relative;
 	}
 	.box_right .hot_topics ul span{
 		position: absolute;
 		right: 0;
 		top:0px;
 	}
 	/*返回顶部*/
 	.gotop{
 		width: 22px;
 		display: block;
 		background:#f2f2f2;
 		border:1px solid #ccc;
 		position: absolute;
 		left:50%;
 		bottom:100px;
 		margin-left: 490px;
 		position: fixed;
 	}
 	.gotop:hover{
 		color:#808080;
 		text-decoration: none;
 	}
 	.gotop span{
 		display: block;
 		border: 1px solid #fff;
 		height: 73px;
 		width: 20px;
 		padding-top: 10px;
 		text-decoration: none;
 		cursor: pointer;
 		line-height: 12px;
 		text-align: center;
 		font-size:12px;
 	}
 	.gotop .icon_gotop{
 		background-position: -75px -100px;
 	}
 	.gotop:hover .icon_gotop{
 		background-position: -100px -100px;
 	}
 	/*用户个人主页*/
 	body.home .container{
 		position: relative;
 		background: transparent;
 	}

 	body.home .miniblog{
 		padding-top:40px;
 	}
 	body.home .profile_pic_top{
 		height: 300px;
 		position: relative;
 		background-position: center bottom;
 		background-repeat: no-repeat;
 	}
 	body.home .user_info{
 		position: relative;
 		padding-bottom: 30px;
 	}
 	body.home .user_info .head{
 		position: absolute;
 		top: -108px;
 		left: 20px;
 		box-shadow: 0 2px 4px rgba(0,0,0,0.3);
 		background:#fafafa;
 		padding:2px;
 	}
 	body.home .user_info .avatar{
 		display: block;
 		position: relative;
 	}
 	body.home .user_info .change_avatar{
 		position: absolute;
 		right: 12px;
 		bottom:12px;
 		display: none;
 	}
 	body.home .user_info .avatar:hover .change_avatar{
 		display: block;
 	}
 	body.home .user_info .user_atten{
 		margin:5px 0 4px 0;
 	}

 	body.home .user_info .user_atten li{
 		padding: 0 3px 3px;
 		float: left;
 		border-right-width: 1px;
 		border-right-style: solid;
 		text-align: center;
 		width: 53px;
 	}
 	body.home .user_info .user_atten li:last-child{
 		border:none;
 	}
 	body.home .user_info .user_atten li strong{
 		font-size: 20px;
 		line-height: 20px;
 		display: block;
 		margin-bottom: 5px;
 		font-family: Tahoma;
 		font-weight: 400;
 	}
 	body.home .user_info .info{
 		margin-left: 225px;
 		padding-top: 10px;
 		position: relative;
 	}
 	body.home .user_info .info p{
 		margin-bottom:8px;
 	}
 	body.home .user_info .info span.name{
 		font: normal 20px/30px "Microsoft Yahei";
 		margin-right: 3px;
 	}


 	/*可以集体定义*/
 	i.male, i.female{
 		width:13px;
 		height: 13px;
 		vertical-align: -2px;
 		background-image: url(../images/bg_line-x2.png);
 		background-repeat: no-repeat;
 		background-size: 2000px 43px;
 	}
 	i.male{
 		background-position: 0px -6px;
 	}
 	i.female{
 		background-position:-25px -6px;
 	}
 	/*个人主页tab导航*/
 	.core_nav{
 		border-bottom-width: 1px;
 		border-bottom-style: solid;
 		height: 49px;
 		padding-left: 20px;
 		border-color: #d9d9d9;
 		font: normal 16px/40px "Microsoft Yahei";
 		background: url(../images/profile_tab.png) repeat-x;
 	}
 	.core_nav li {
 		position: relative;
 		float: left;
 		border-width: 1px;
 		border-style: solid;
 		border-right-width: 0;
 		height: 48px;
 		border-color: #d9d9d9;
 		background:#f2f2f2;
 	}
 	.core_nav li.current{
 		background:#fff;
 	}
 	.core_nav li.current a{
 		border-bottom: none;
 		padding:8px 0px 3px;
 		background: #fff;
 	}
 	.core_nav li:last-of-type{
 		border-right-width: 1px;

 	}

 	.core_nav li a{
 		display: block;
 		width: 116px;
 		height: 38px;
 		padding: 8px 0 0;
 		border:1px solid #fff;
 		line-height: 27px;
 		text-align: center;
 		color: #333;
 		text-decoration: none;
 	}
 	.container>.wrap{
 		padding: 19px 20px 20px;
 		min-height: 800px;
 	}
 	/*全部 | 原创| 图片*/
 	.tab_radious{
 		margin:0;
 		padding-bottom: 5px;
 		border-bottom: 1px solid #e6e6e6;
 		position: relative;
 	}
 	.tab_radious a{
 		display: inline-block;;
 		line-height: 22px;
 		text-align: center;
 		font-size: 14px;
 		color:#333;
 	}
 	.tab_radious .tabarrow{
 		position: absolute;
 		display:block;
 		width: 30px;
 		height: 8px;
 		left:0;
 		top:22px;
 		background: #fff url(../images/all_iconbtn.png) -410px 0px no-repeat;
 	}
 	.tab_radious  .S_txt3{
 		line-height: 22px;
 		margin: 0 8px;
 	}
 	/*博文*/
 	.wrap .main{
 		width: 560px;
 	}
 	.wrap .sidebar{
 		width: 358px;
 		border: 1px solid #d9d9d9;
 	}
 	.S_bg1_c {
 		color: #f2f2f2;
 	}
 	.S_bg1, .SW_fun_bg {
 		background-color: #f2f2f2;
 	}
 	.SW_fun_bg:hover{
 		background: #fafafa;
 	}
 	/*查看更多微博*/
 	.PRF_feed_list_more {
 		display: block;
 		margin-top: -1px;
 		height: 26px;
 		line-height: 26px;
 		text-align: center;
 	}
 	.PRF_feed_list_more:hover {
 		border-style: solid;
 		border-width: 1px;
 		height: 24px;
 		line-height: 24px;
 		text-decoration: none;
 	}

 	/*赞图标*/
 	.icon_praised_b,.icon_praised_bc{
 		width: 13px;
 		height: 14px;
 		vertical-align: middle;
 	}
 	.icon_praised_b{
 		background-position: -75px 0;
 	}
 	.icon_praised_bc {
 		background-position: -100px 0;
 	}

 	/*关注/粉丝*/
 	.wrap .sidebar h4{
 		margin:0;
 		padding:8px 20px 9px;
 		line-height: 17px;
 		background: #f2f2f2;
 	}

 	.wrap .sidebar h4 span{
 		display: block;
 		font-weight: 400;
 		height: 16px;
 	}
 	.wrap .sidebar h4 + div{
 		padding:20px 19px 0 19px;
 	}
 	.wrap .sidebar .relation fieldset{
 		height: 18px;
 		padding:0;
 		border-color: #e6e6e6;
 		position: relative;
 	}
 	.wrap .sidebar .relation fieldset .more{
 		position: absolute;
 		top:0;
 		right: 0;
 		background: #fff;
 		padding-left:10px;
 	}
 	.wrap .sidebar .relation fieldset legend{
 		padding-right: 10px;
 	}
 	.wrap .sidebar .relation ul{
 		margin: 0 0 0 -22px;
 	}
 	.wrap .sidebar .relation li{
 		position: relative;
 		float: left;
 		margin: 0 0 20px 20px;
 		padding: 0 2px;
 	}
 	.wrap .sidebar .relation li a{
 		display: block;
 	}
 	.wrap .sidebar .relation li a:first-child + a{
 		text-overflow: ellipsis;
 		white-space: nowrap;
 		width: 61px;
 		height: 14px;
 		overflow: hidden;
 		margin-top: 4px;
 	}
 	/*微相册*/
 	.wrap .sidebar .album h4 {
 		border-top:1px solid #d9d9d9;
 	}
 	.wrap .sidebar .album .picitems {
 		margin: -10px 0 15px -8px;
 	}
 	.wrap .sidebar .album li{
 		margin: 10px 0 0 8px;
 		padding: 0;
 		float: left;
 	}
 	.wrap .sidebar .album .picitems li img{
 		border-width: 1px;
 		border-style: solid;
 		border-radius: 3px;
 		border-color: #d5dfda;
 	}

 	/*消息页面*/
 	.box_center div.title{
 		margin: 0px 20px;
 		border-bottom: 2px solid rgb(234, 20, 41);
 		padding:0px 0px 8px 0;
 		font-size:14px;
 		font-weight: bold;
 		color: #333;
 		height: 24px;
 		line-height: 28px;
 	}
 	.box_center div.title a.tit{
 		font-size:14px;
 		font-weight: bold;
 		color: #333;
 		height: 24px;
 		line-height: 28px;
 		margin-right: 20px;
 	}
 	.box_center .tab_normal{
 		margin: 0px 20px;
 		padding: 10px 0px 6px;
 	}

 	.icon_mes{
 		display: inline-block;
 		width: 12px;
 		height: 9px;
 		overflow: hidden;
 		background: url(../images/msg_icon.png) no-repeat;
 		margin-right: 2px;
 	}
 	.W_btn_a .icon_mes{
 		background-position: -18px 0px;
 	}
 	.icon_lock{
 		background-position: -350px -100px;
 		vertical-align: -3px;
 	}
 	.box_center .tab_normal .set{
 		margin-left:10px;
 	}

 	.box_center .msg_list .item{
 		border-bottom:1px solid #e6e6e6;
 		padding:15px 20px;
 		cursor: pointer;
 	}
 	.box_center .msg_list .item:hover{
 		background: #fff;
 	}
 	.box_center .msg_list .avatar{
 		float: left;
 	}
 	.box_center .msg_list .msg_main{
 		margin-left: 65px;
 		height: 60px;
 		overflow: hidden;
 		line-height: 21px;
 		position: relative;
 		top:-5px;
 	}
 	.msg_main .msg_title{
 		font-weight: 700;
 		margin: 5px 0;
 		color:#333;
 		font-size: 14px;
 	}
 	.msg_main .msg_detail{
 		line-height: 30px;
 		white-space: nowrap;
 		text-overflow: ellipsis;
 		overflow: hidden;
 		margin-right: 2em;
 		font-size: 14px;
 	}
 	.msg_main .msg_time{
 		position: absolute;
 		top:0;
 		right: 0;
 	}
 	.box_center .msg_list{
 		/*margin:20px;*/
 	}
 	/*------------*/
 	.box_right{
 		padding:30px 0px;
 	}
 	.box_right fieldset{
 		border-color: #e6e6e6;
 	}
 	.box_right .title{
 		font-weight: bold;
 		font-size:14px;
 		color:#333;
 		padding:0 5px;
 	}
 	.box_right  .qa{
 		margin: 0px 20px;
 		line-height: 22px;
 		padding: 15px 0px 0px;
 	}
 	.qa .ico_q{
 		float: left;
 		width: 18px;
 		height: 17px;
 		margin-top: 3px;
 		background-position: -125px 0px;
 	}
 	.box_right .qa:last-child{
 		margin-right: 10px;
 	}
 	.box_right .item{
 		margin-bottom: 20px;
 	}
 	/*关注中心*/

 	.ico_connect {
 		background-image: url(../images/icon_connect.png);
 	}
 	.curr .ico_myfollow{
 		background-position: -25px 0px;
 	}
 	.ico_myfollow{
 		background-position: 0px 0px;
 	}
 	.curr .ico_myfans{
 		background-position: -25px -25px;
 	}
 	.ico_myfans{
 		background-position: 0px -25px;
 	}
 	.box_center .title span, .box_center .title  a{
 		font-size: 12px;
 		font-weight: normal;
 	}
 	.box_center .title a.tips{
 		color:#f48c12;
 	}
 	.box_center .title .icon_warnS{
 		margin-left:10px;
 		vertical-align: -3px;
 	}
 	.body_follow .tab_normal{
 		background: #f1f1f1;
 		padding:5px;
 		margin-top:25px;
 	}

 	.box_center .tab_normal .input_search{
 		position: relative;
 	}
 	.box_center .tab_normal .input_search input{
 		min-height: 15px;
 		border: 1px solid #ccc;
 		width: 122px;
 		color: gray;
 		border-radius: 15px;
 		padding:2px 8px;
 	}
 	.box_center .tab_normal .input_search input:focus{
 		border-color: #ffa00a;
 		box-shadow: 1px 1px 1px rgba(0,0,0,.2) inset;
 	}
 	.box_center .tab_normal .input_search .iconsearch{
 		width:19px;
 		height: 20px;
 		display: inline-block;
 		background: url(../images/icon.png) -72px -172px no-repeat;
 		position: absolute;
 		right: 10px;
 		top:1px;
 	}
 	.box_center .tab_normal .input_search .iconsearch:hover{
 		background-position: -97px -172px;
 	}
 	.myfollow_list {
 		padding: 0 0px 20px 20px;
 	}
 	.myfollow_list .avatar{
 		float: left;
 	}
 	.myfollow_list .info{
 		height: 54px;
 		overflow: hidden;
 		float: left;
 		margin: 0 0 0 9px;
 		line-height: 18px;
 	}
 	.myfollow_list .intro{
 		clear: both;
 	}
 	.myfollow_list .item{
 		width: 227px;
 		height: 96px;
 		margin: 20px 20px 0 0;
 		float: left;
 		padding: 10px;
 		border: 1px solid #e6e6e6;
 		border-radius: 2px;
 		box-shadow: 0px 1px 2px 0px #ededed;
 		cursor: pointer;
 	}
 	.myfollow_list .item:hover{
 		background: url(../images/select.gif) no-repeat right top;
 		border-color: #FDA316;
 		border-width: 2px;
 		cursor: pointer;
 		padding: 10px;
 		margin:19px 19px -1px -1px;
 	}
 	/*.myfollow_list  */
 	.myfollow_list .W_ico12 {
 		margin-right: 3px;
 		vertical-align: middle;
 	}
 	.icon_addone{
 		background-position: -125px -49px;
 	}
 	.icon_addtwo{
 		background-position: -125px -25px;
 	}
 	/*可以集体定义*/
 	.W_chat_stat{
 		background-color: #D4D4D4;
 		border-color: #B8B8B8;
 		display: inline-block;
 		width: 7px;
 		height: 7px;
 		border-width: 1px;
 		border-style: solid;
 		border-radius: 2px;
 		overflow: hidden;
 		margin-right: 3px;
 	}
 	.myfollow_list .intro {
 		height: 13px;
 		padding: 8px 0 0;
 		overflow: hidden;
 		clear: both;
 		display: block;
 		text-overflow: ellipsis;
 		white-space: nowrap;
 	}
 	.myfollow_list .introHover {
 		height: 13px;
 		padding: 8px 0 0;
 		overflow: hidden;
 		clear: both;
 		display: block;
 		text-overflow: ellipsis;
 		white-space: nowrap;
 	}
 	.myfollow_list .introHover i{
 		margin:0 10px;
 	}
 	.myfollow_list .item .introHover:nth-last-of-type(2), .myfollow_list .item:hover .intro{
 		display: none;
 	}
 	.myfollow_list .item:hover .introHover:nth-last-of-type(2){
 		display: block;
 	}

 	/*粉丝页面*/

 	.icon_trash{
 		background-position: -123px -275px;
 		vertical-align: middle;
 		margin-left: 10px;
 	}


 	.myfans_list .item{
 		padding:14px 0 13px;
 		color: #333;
 	}
 	.myfans_list{
 		margin:0 20px;

 	}
 	.myfans_list .con{
 		margin-left: 65px;
 	}
 	.myfans_list .con .name{
 		font-size: 14px;
 		font-weight: bold;
 	}
 	.myfans_list .con .addr{
 		font-size: 12px;
 		font-weight: normal;
 	}
 	.W_vline{
 		margin: 0 8px;
 	}
 	.con_left{
 		line-height: 22px;
 	}
 	.con_right>a:first-child{
 		margin-right: 8px;
 	}

 	.con_right .W_ico12 {
 		margin-right: 2px;
 		vertical-align: middle;
 	}
 	.con_right .S_line1_c{
 		margin:0 5px;
 	}
 	.con_right .W_vline{
 		margin:0 4px 0 3px;
 	}
 	.myfans_list .con .detail_more{
 		margin-left:12px;
 	}

 	.addFollow .addicon{
 		color: #FFA00A;
 		vertical-align: -2px;
 	}
 	.W_btn_b:hover .addicon{
 		color: #fff;
 	}
 	.W_btn_b:hover .W_vline {
 		color: #fff;
 	}
 	.W_btn_b:hover .icon_addone {
 		background-position: -150px 0;
 	}
 	.addicon{
 		font: bold 16px Arial;
 		height: 16px;
 		text-decoration: none;
 		margin-right: 2px;
 	}
 	/*atme*/
 	.weibo_list.atme .item{
 		margin: 0 20px;
 	}
 	/*头像设置*/
 	.level_Box{
 		border-bottom: 1px solid #d9d9d9;
 		padding-bottom: 10px;
 	}
 	.level_Box:last-of-type{
 		padding-top:10px;
 	}
 	.ico_account {
 		background-image: url(../images/account_ico.png);
 	}

 	.ico_avater{
 		background-position: 0 -25px;
 	}
 	.curr .ico_avater{
 		background-position: -25px -25px;
 	}

 	.ico_security {
 		background-position: 0 -125px;
 	}
 	.curr .ico_security {
 		background-position: -25px -125px;
 	}
 	.curr .ico_privacy {
 		background-position: -25px -75px;
 	}
 	.ico_privacy {
 		background-position: 0 -75px
 	}
 	.ico_message {
 		background-position: 0 -100px;
 	}
 	.ico_prefer {
 		background-position: 0 -50px;
 	}
 	.upload_avatar{
 		margin:20px;

 	}

 	.upload_btn span{
 		padding:3px 9px;
 	}

 	.upload_avatar input[type=checkbox]{
 		vertical-align: middle;
 		margin-right: 3px;
 	}
 	.upload_avatar .S_txt2 + p{
 		color:#5F5F5F;
 	}
 	.upload_avatar .preview{
 		height: 320px;
 		padding:10px 0;
 	}
 	.upload_avatar .preview .big{
 		width:330px;
 		height: 100%;
 		border-right: 1px solid #d9d9d9;
 	}
 	.upload_avatar .preview .small{
 		float: left;
 		width:300px;
 		height: 100%;
 		line-height: 20px;
 		margin-left: 28px;
 	}
 	.upload_avatar .preview .small p{
 		margin: 0;
 	}
 	.upload_avatar .preview .img_300{
 		width:300px;
 		height: 300px;
 		border: 1px solid #ccc;
 		overflow: hidden;
 	}
 	.upload_avatar .preview .avatar{
 		margin-top:20px;
 	}
 	.upload_avatar .preview .avatar{
 		text-align: center;
 		color:#808080;
 	}
 	/*生成头像*/
 	.upload_avatar #img_180{
 		width: 180px;
 		height: 180px;
 	}
 	.upload_avatar #img_50{
 		width: 50px;
 		height: 50px;
 	}
 	.upload_avatar #img_30{
 		width: 30px;
 		height: 30px;
 	}
 	#img_180,#img_50,#img_30{
 		border:1px solid #ccc;
 		overflow: hidden;
 	}
 	.upload_avatar .preview .img_30{
 		margin-top:15px;
 	}
 	.upload_avatar .submit a{
 		margin-right: 10px;
 	}
 	/*设置个人信息*/
 	.personinfo .item{
 		margin:15px 20px;
 		border: 1px solid #D9D9D9;
 		padding:0px 20px;
 		background: #f2f2f2;
 		cursor: pointer;
 	}
 	.personinfo .item:hover{
 		background: #fff;
 	}
 	.personinfo .item:hover .acc_form{
 		display: block;
 	}
 	.personinfo ul{
 		height: 40px;
 		line-height: 40px;
 	}
 	.personinfo ul li{
 		float:left;
 	}
 	.personinfo ul li:first-child{
 		width: 204px;
 		font-weight: 700;
 	}
 	.personinfo ul li:nth-child(2){
 		width: 488px;
 	}
 	.acc_form{
 		margin-bottom: 20px;
 	}
 	.acc_form .info_item{
 		position: relative;
 	}
 	.acc_form .info_item div:not(.btn){
 		line-height: 35px;
 	}
 	.acc_form .info_item .tit{
 		width: 48px;
 		text-align: right;
 		float: left;
 	}
 	.acc_form .info_item .inp{
 		width: 222px;
 		margin-left: 70px;
 	}
 	.acc_form .info_item .tips{
 		position: absolute;
 		left: 280px;
 		top: 0px;
 		line-height: normal;
 	}
 	.acc_form .info_item .inp input[type=text],.acc_form .info_item .inp textarea{

 		width: 196px;
 	}
 	.acc_form .info_item .inp textarea{
 		height: 48px;
 		resize:none;
 	}
 	.acc_form .info_item .inp input:focus,.acc_form .info_item .inp textarea:focus{
 		border-color: #FFB941;
 	}
 	.acc_form .btn{
 		padding: 15px 0 0;
 	}
 	.acc_form .btn .W_btn_a {
 		margin-right: 10px;
 	}
 	/*个性域名*/
 	.domainname .info_item .tit
 	{
 		width: 100px;
 	}
 	.domainname .info_item .inp {
 		margin-left: 135px;
 	}
 	.domainname .info_item .tips{
 		left:350px;
 	}
 	.W_tips.tips_error {
 		background: none repeat scroll 0 0 #FBFAEE;
 		border: 1px solid #FCEDB1;
 		color: #666666;
 		line-height: 12px;
 		margin-bottom: 10px;
 	}
 	.W_tips.tips_error span{
 		display: inline-block;
 	}
 	.W_tips.tips_error span.txt{
 		margin-top: 2px;
 	}
 	/*评论页面*/
 	.comment_list .item {
 		margin:21px 20px 0 20px;
 	}
 	.W_loading {
 		margin: 2px 0 17px;
 		text-align: center;
 		padding: 20px 0 10px;
 	}
 	.W_loading span {
 		background: url(../images/loading.gif) no-repeat 0 1px;
 		padding: 0 0 0 20px;
 		line-height: 18px;
 		height: 18px;
 		display: inline-block;
 	}
 	.comment_list .item .face{
 		float: left;
 		width: 50px;
 		position: relative;
 	}
 	.comment_list .comment{
 		border: 1px solid #d9d9d9;
 		padding: 15px 20px;
 		margin-left: 65px;
 		border-radius: 2px;
 		background-color: #f2f2f2;
 		line-height: 21px;
 	}
 	.comment_list .comment p{
 		margin:0;
 	}
 	.comment_list .comment p .del{
 		float: right;
 	}
 	.comment_list .item:hover .del{
 		display: block;
 	}

 	/*收到的评论*/
 	.comment_list .comment {
 		position: relative;
 	}
 	.comment_list .comment .message_arrow {
 		position: absolute;
 		top: 15px;
 		left: -9px;
 		width: 10px;
 		overflow: hidden;
 	}
 	.comment_list .comment .message_arrow  * {
 		font-family: "SimSun";
 		overflow: hidden;
 		font-size: 20px;
 		line-height: 1.231;
 		display: block;
 		height: 20px;
 	}
 	.comment_list .comment .message_arrow span{
 		margin: -20px 0 0 1px;
 		color:#f2f2f2;
 	}


 	/*私信页面*/
 	.tit_plus {
 		font-size: 12px;
 		font-weight: 300;
 	}
 	.msg_dialogue .comment{
 		border-radius: 5px;
 	}
 	.msg_time_line{
 		margin: 5px 65px 25px;
 		text-align: center;
 		padding: 0px 0px 0px 148px;
 	}
 	.msg_time_line .time_tit {
 		width: 120px;
 		text-align: center;
 		font-weight: 400;
 	}
 	/*消息左侧菜单*/
 	.left_nav li ul a{
 		font-size: 12px;
 		height: 28px;
 		line-height: 28px;
 		padding-left: 30px;
 	}
 	.left_nav li ul a .W_ico20 {
 		width: 19px;
 		vertical-align: -8px;
 		margin-right: 0;
 	}
 	.ico_lev_at {
 		background-position: 0px -149px;
 	}
 	.ico_lev_comment {
 		background-position: 0px -174px;
 	}
 	.ico_lev_like {
 		background-position: 0px -198px;
 	}
 	.ico_lev_letter {
 		background-position: 0px -223px;
 	}
 	.ico_lev_leave {
 		background-position: 0px -248px;
 	}
 	.curr .ico_lev_at {
 		background-position: -25px -149px;
 	}
 	.curr .ico_lev_comment {
 		background-position: -25px -174px;
 	}
 	.curr .ico_lev_like {
 		background-position: -25px -198px;
 	}
 	.curr .ico_lev_letter{
 		background-position: -25px -223px;
 	}
 	.curr .ico_lev_leave{
 		background-position: -25px -248px;
 	}

 	/*私信*/
 	.W_new_count {
 		display: inline-block;
 		padding: 0 2px;
 		font-family: arial;
 		font-size: 10px;
 		-webkit-transform: scale(0.875);
 		background-color: #dd3838;
 		color: #fff;
 		border-radius: 2px;
 		min-width: 11px;
 		height: 12px;
 		line-height: 12px;
 		text-align: center;
 	}
 	.msg_new_state{
 		float: right;
 		margin-top: 11px;
 		margin-left: 5px;
 		width: 27px;
 		text-align: right;
 	}
 	.msg_new .msg_detail{
 		font-weight: bold;
 	}

 	.left_nav li .W_new_count{
 		margin: 11px 5px 0 0;
 		float: right;
 	}
 	.msg_ico{
 		display: inline-block;
 		background: url(../images/msg_icon.png) no-repeat;
 	}
 	.msg_ico_reply {
 		width: 16px;
 		height: 17px;
 		background-position: -71px 0;
 		vertical-align: middle;
 		margin-right: 2px;
 	}
 	.box_center .tab_normal .W_btn_a{
 		margin-right: 10px;
 	}
 	/*私信list页面*/
 	.msg_dialogue .comment{
 		width:388px;
 	}

 	.item_ta .comment{
 		float: left;
 	}
 	.item_ta .face{
 		margin-left: 15px;
 	}
 	.item_ta .message_arrow{
 		right: -10px;
 		left:auto!important;
 	}

 	.item_ta .message_arrow * {
 		margin-left: -10px!important;
 	}
 	.item_ta .message_arrow span{
 		margin: -20px 0 0 -11px!important;
 	}
 	.item_my .comment{
 		background: #fff;
 	}
 	.item_my .message_arrow span{
 		color: #fff!important;
 	}
 	.send_private_msgbox{
 		margin: 20px;
 	}
 	.send_private_msgbox textarea{
 		height: 24px;
 	}
 	.send_private_msgbox textarea:focus{
 		height: 70px;
 	}
 	/*公共脚模板*/
 	.global_footer{
 		margin:0 auto;
 		margin-top:10px;
 		width: 940px;
 		height: 168px;
 		padding:20px;
 	}
 	.global_footer .list{
 		float: left;
 		width: 170px;
 		display: inline;
 		margin: 0 20px 0 0;
 		line-height: 20px;
 	}
 	.global_footer .list:last-child{
 		margin-right: 0;
 	}
 	.global_footer .list dt{
 		padding-bottom: 5px;
 	}
 	.global_footer .other_link {
 		line-height: 0.5;
 		margin: 15px 0 0;
 		border-top-width: 1px;
 		border-top-style: solid;
 	}
 	.global_footer .copyright{
 		padding-top: 10px;
 		margin-top:10px;
 		border-top-width: 1px;
 		border-top-style: solid;
 	}
 	.global_footer .copyright p{
 		margin:0;
 		line-height: 22px;
 	}
 	.global_footer .W_ico16 {
 		vertical-align: -2px;
 		margin-right: 4px;
 	}
 	.ico_weibo {
 		background-position: -350px -125px;
 	}
 	/*搜索页面*/
 	body.search .miniblog{
 		background: #b0def5 url(../images/S_body_bg.png) center 0 repeat-x;
 	}
 	body.search .miniblog_fb{
 		background: none;
 	}
 	body.search  .miniblog_fb>.container{
 		width: 950px;
 		background: transparent;
 	}
 	body.search .footer{
 		width: 910px;
 		margin:0 auto;
 		background: #fff;
 		padding:10px 20px;
 		border-top:1px dotted #eaeaea;
 	}
 	.search_head{
 		line-height: 24px;
 		margin:13px 0;
 	}
 	.search_head .logo{
 		background: url(../images/search_logo.png) no-repeat;
 		width: 106px;
 		height: 30px;
 		float: left;
 		margin-right: 40px;
 	}
 	.search_head .type{
 		margin:0 0 9px 6px;
 		padding-top: 10px;
 	}
 	.search_head  a{
 		margin-right: 22px;
 		font-size: 14px;
 		line-height: 20px;
 		color: #fff;
 		text-decoration: underline;
 	}
 	.search_head .type a.curr{
 		font-weight: bold;
 		text-decoration: none;
 		cursor:default;
 	}
 	.s_from input{
 		width: 530px;
 		height: 32px;
 		padding:0 8px;
 		line-height: 28px;
 		font-size: 20px;
 		color: #333;
 		font-family: 微软雅黑;
 	}
 	.searchBtn{
 		background: url(../images/search_btn.png) no-repeat;
 		width: 92px;
 		height: 34px;
 		text-indent: -9999px;
 		outline: none;
 		display: inline-block;
 		vertical-align: top;
 		margin-left: 8px;
 	}
 	.searchBtn:hover{
 		background-position: 0 -42px;
 	}
 	.s_from span{
 		display: inline-block;
 	}
 	.s_from span a{
 		font-size: 12px;
 		text-decoration: none;
 	}
 	.s_from span a:hover{
 		text-decoration: underline;
 	}
 	.S_content{
 		background:#fff url(../images/c_bg.png) repeat-y;
 		min-height: 800px;
 	}
 	.S_content_l{
 		float:left;
 		width: 650px;
 		padding: 20px 0;
 	}
 	.S_content_l .S_line1_c{
 		margin:0 6px;
 	}

 	.S_content_l>p,.result_list{
 		margin: 0 40px 20px;
 	}

 	.S_content_l .filter{
 		padding: 10px 0;
 		border-bottom: 1px solid #d9d9d9;
 	}
 	.S_content_l .filter a:first-child{
 		margin-left: 8px;
 	}
 	.S_content_l .item .detail{
 		margin-left: 65px;
 		position: relative;
 	}
 	.S_content_l .item .detail .name{
 		font-size: 14px;
 		font-weight: 700;
 	}
 	.S_content_l .item .info{
 		line-height: 22px;
 	}
 	.S_content_l .item .operate{
 		text-align: right;
 		position: absolute;
 		right: 0;
 		top:0;
 	}
 	.S_content_l .item .operate .W_addbtn{
 		text-decoration: none;
 		background-color: #e3ffd5;
 		border: 1px solid #d5f7c5;
 		color: #389a0a;
 		padding:0 5px;
 		height: 18px;
 		line-height: 18px;
 		display: inline-block;
 	}
 	.S_content_l .item .operate .W_addbtn:hover{
 		background-color: #81d300;
 		border-color: #4ec000;
 		color: #fff;
 	}
 	.S_content_l .W_ico12,.S_content_l .addr{
 		margin-right: 10px;
 	}
 	.result_list .item{
 		border-bottom: dotted 1px #ccc;
 		padding-bottom: 16px;
 		margin-bottom: 16px;
 	}
 	.S_content_l .s_from{
 		margin-left:40px;
 		margin-top:40px;
 	}
 	.S_content_l .s_from input{
 		width: 450px;
 	}
 	.S_content_r{
 		float:right;
 	}
 	.S_content_l .icon_connect{
 		display: inline-block;
 		width: 39px;
 		height: 14px;
 		overflow: hidden;
 		background: url(../images/connect_ico.png) no-repeat 0 0;
 	}
 	.search_icon{
 		display: inline-block;
 		vertical-align: middle;
 		background: url(../images/search_ico.png) no-repeat;
 	}
 	.searchper_icon {
 		background-position: -23px -709px;
 		width: 17px;
 		height: 17px;
 	}
 	/*邮件激活*/
 	.mail_active{
 		width: 980px;
 		margin:0 auto;
 		padding-bottom: 9px;
 		z-index: 1024;
 		background: url(../images/shadow_invite_reg.png) no-repeat  center bottom;
 	}
 	.mail_active .box{
 		padding:10px 0;
 		background-color: rgb(255, 253, 229);
 		border: 1px solid rgb(252, 237, 177);
 	}
 	.mail_active .box>div{
 		display: inline-block;
 		vertical-align: top;
 	}
 	.mail_active .box div p{
 		margin: 5px 0;
 	}
 	.mail_active .box .icon_errorB{
 		margin-left: 53px;
 	}
 	.mail_active .box .W_btn_b{
 		margin-right: 10px;
 	}
 	.mail_active .S_spetxt{
 		margin: 0px 5px;
 		color: rgb(228, 68, 67);
 		font-size: 16px;
 	}
 	.mail_active .icon_errorB{
 		width: 50px;
 		height: 50px;
 		background: url(../images/ico_warn.png) no-repeat;
 		margin: 0px 3px 0px 0px;
 		overflow: hidden;
 		display: inline-block;
 		background-position: -100px -100px;
 	}