body{
	font: 12px/1.125 Arial,Helvetica,sans-serif;
}
fieldset {
	display: block;
	padding: 0 0 0 20px;
	border-style: solid;
	border-width: 1px 0 0 0;
}
.S_txt2{
	color:#808080;
}
.S_txt3 {
	color: #aeaeae;
}
body .global_nav .container{
	background: transparent;;
}
/**
 *注册页面
 */
 .body_login{
 	background: url(../images/bg_repeat_reg.png) repeat-x
 }
 a{
 	color:#0a8cd2;
 	text-decoration: none;
 }
 a:hover{
 	color:#0a8cd2;
 	text-decoration: underline;
 }
 .container{
 	width:900px;margin:0 auto;
 }
 .body_login .header{
 	padding:10px 0;
 }
 .body_login .logo{
 	width: 130px;
 	height: 40px;
 	background: url(../images/logo.png) no-repeat;
 }
 .body_login .content{border-top:2px solid #F62638;
 	background: url(../images/main_bg.png) no-repeat 0 bottom;
 }
 .leftbox{
 	width: 567px;
 	padding-right: 3px;
 	background: url(../images/login_vline.png) no-repeat right center;
 	color: #333;
 }
 .leftbox .top{
 	padding: 17px 0 17px 30px;
 	border-bottom: 1px solid #e6e6e6;
 	line-height: 32px;
 	font-size: 26px;
 	font-family: "Microsoft Yahei";
 	font-style: italic;
 	background-color: #fafafa;
 }
 .leftbox .top span{

 	background: #e64141;

 	width: 143px;
 	height: 36px;
 	display: inline-block;
 	border: 1px solid #eb6767;
 	line-height: 36px;
 }
 .leftbox .top a{
 	font-style: normal;
 	display: inline-block;

 	color:#fff;
 	text-align: center;
 	border-radius: 2px;
 	box-shadow: 0px 1px rgba(0,0,0,.3);
 	font-size:22px;
 	border: 1px solid #e64141;
 	margin-left:25px;
 }
 .leftbox .top a:hover span{
 	background: -webkit-linear-gradient(top, #f95959 50%,#f04d4d 80%,#e74242 100%);
 }
 .leftbox .show_img{
 	background: #fff;
 	padding: 15px 6px 15px 10px;
 }
 .loginbox{
 	width: 271px;
 	padding-left:59px;
 	font-size:12px;
 }
 .login_form{
 	width: 210px;
 	margin: 29px 0 0;
 }
 .login_form .title{
 	line-height: 30px;
 }
 .login_form .title a{
 	line-height: 30px;
 }

 .login_form .title i{
 	margin:0 8px;
 }

 .login_form form p{
 	position: relative;
 }
 .login_form form p span{
 	position: absolute;
 	left:40px;
 	top:9px;
 	color:#808080;
 }
 .login_form input[type=text]{
 	border-radius: 2px;
 	width: 167px;
 	box-shadow: 1px 1px 1px 0px #eaeaea inset;
 	padding-left:37px;
 	background-image: url(../images/form_login.png);
 	background-repeat: no-repeat;
 	margin: 2px 0px;
 }
 .login_form input[type=text]:focus{
 	border-color: #FFB941;
 }

 .loginbox input[name=passwd]{
 	background-position: 0 -50px;
 }
 #login_form_savestate{
 	margin-right: 3px;
 	vertical-align:-2px;
 }
 .icon_ask{
 	width: 16px;
 	height: 16px;
 	background: url(../images/ico_warn.png) 0 -150px;
 	margin-left: 3px;
 	overflow: hidden;
 	display: inline-block;
 	vertical-align:middle;
 }

 .auto_login a{
 	text-decoration:none
 }

 .login_form button{
 	width:100%;
 	border:1px solid #ffb33b;
 	line-height: 26px;
 	padding:0px;
 	font-weight: bold;
 	border-radius:2px;
 	text-align: center;
 	color:#fff;
 	font-size:14px;
 }
 .login_form .submit{
 	border:1px solid #ff9b01;
 	background-color: #ffa00a;
 	font-weight: bold;
 }
 .login_form .submit:hover{
 	background: #FFAB25;
 }
 .login_form .submit i{
 	width: 16px;
 	height: 16px;
 	display: inline-block;
 	background: url(../images/loading.gif) no-repeat;
 	vertical-align: -2px;
 }
 .login_form .submit+p{
 	color: #808080;
 }
 .login_mode{
 	margin-top:25px;
 	width: 149px;
 	height: 71px;
 	background: url(../images/login_mode.jpg) no-repeat;
 }
 .body_login .footer{
 	clear:both;
 	background: #f7f7f8 url(../images/footer_top_bg.jpg) no-repeat center top;
 	text-align: center;
 	font-size: 12px;
 	color:#808080;
 	line-height:8px;
 	padding:15px 30px 30px;
 }
 .footer a{
 	color:#808080;
 }
 .footer i{
 	margin:0 8px;
 }

/**
 *注册页面
 */
 .body_signup{
 	background: url(../images/reg_repeat_bg.png) repeat-x;
 }

 .header_line{
 	height: 3px;
 	border-bottom: 1px solid #e6f1f9;
 	background: url(../images/top_line_bg.png) repeat-x;
 }
 .reg_header{
 	height: 164px;
 	padding:10px 0;
 	background: url(../images/bg_reg_wave.png) no-repeat center bottom;
 }
 .logo_big{
 	width: 278px;
 	height: 72px;
 	margin: 0 auto;
 	margin-top: 26px;
 	background: url(../images/logo_big.png) no-repeat;
 }
 .body_signup .content{
 	border-radius: 5px;
 	box-shadow: 0 1px 5px rgba(0,0,0,.3);
 	background: #fff;
 	padding:30px 40px;
 }
 .body_signup .reg_title{
 	font-size: 22px;
 	padding-bottom: 15px;
 }
 .body_signup .reg_title a.cur{
 	border-bottom: 3px solid #FFA00A;
 	padding-bottom: 5px;
 }
 .body_signup .reg_title i{
 	color:#999;
 	height:10px;
 	line-height: 10px;
 	font-weight: normal;
 	font-size: 12px;margin:0 15px;
 }
 .reg_info{
 	background: url(../images/reg_vline.png) no-repeat 630px 0;
 	font-size: 14px;
 	margin-top:30px;
 	padding-bottom: 60px;
 }
 .info_list{
 	margin: 0 0 15px;
 	position: relative;
 }
 .info_list input[type=text],.info_list input[type=password]{
 	width: 196px;
 	border: 1px solid #CCCCCC;
 	border-radius: 2px;
 	box-shadow: 0 1px 1px 0 #EAEAEA inset;
 	color: #808080;
 	height: 28px;
 	padding: 0 0 0 2px;
 	vertical-align: middle;
 }

 .info_list input[type=text]:focus,.info_list input[type=password]:focus{
 	border-color: #FFB941;
 }

 .info_list .tit{
 	width:160px;
 	line-height: 30px;
 	text-align: right;
 }
 .info_list .tit i{
 	color:#FF0000;
 	padding-right: 4px;
 }
 .info_list .inp{
 	margin-left:160px;
 }
 .info_list .attachment{
 	padding-top:10px;
 	font-size: 12px;
 }
 .info_list .tips{
 	left: 375px;
 	position: absolute;
 	top: 6px;
 	font-size: 12px;
 	width: 200px;
 }
 .info_list .error{
 	color:#E64141;

 }
 .info_list .error i{
 	background-image: url(../images/ico_warn.png);
 	background-position: 0 -250px;
 	background-repeat: no-repeat;
 	width: 16px;
 	height: 16px;
 	display: inline-block;
 	vertical-align: middle;
 	margin-right: 3px;
 }
 .info_list .choose label {
 	line-height: 30px;
 	margin-right: 10px;
 }
 .info_list .choose input {
 	vertical-align: -2px;
 }
 .info_list input[name=code]{
 	width: 70px;
 }
 .info_list #code{
 	vertical-align:middle;
 }
 .info_list .verify_refresh{
 	background: url(../images/verify_refresh.png) no-repeat;
 	display: inline-block;
 	height: 17px;
 	margin-left: 7px;
 	margin-top: 7px;
 	overflow: hidden;
 	width: 18px;
 }
 .info_list .verify_refresh:hover{
 	background-position: 0 -18px;
 }
 .info_list .verify_refresh + .error{
 	position: relative;
 	top:-5px;
 }
 .reg_form button{
 	width:100%;
 	border:1px solid #ffb33b;
 	line-height: 26px;
 	padding:5px 0;
 	font-weight: bold;
 	border-radius:2px;
 	text-align: center;
 	font-size: 16px;
 	color:#fff;
 }
 .reg_form .submit{
 	width: 196px;
 	border:1px solid #ff9b01;
 	background-color: #ffa00a;
 	font-weight: bold;
 }
 .reg_form .submit:hover{
 	background: #FFAB25;
 }
 .reg_form .submit i{
 	width: 16px;
 	height: 16px;
 	display: inline-block;
 	background: url(../images/loading.gif) no-repeat;
 	vertical-align: -2px;
 }
 .reg_form .agreement{
 	font-size: 12px;
 	line-height: 20px;
 }

 .reg_sidebar{
 	width: 160px;
 	line-height: .8em;
 }
 .reg_sidebar p:first-child{
 	border-bottom: 1px dotted #ccc;
 	padding-bottom: 14px;
 }
 .reg_sidebar .p3{
 	color:#FFA00A;
 	font-weight: bold;
 	font-size: 16px;
 }
 .body_signup .footer{	
 	font-size: 12px;
 	color:#6e9ab8;
 }

 .footer .footer_logo{
 	display: inline-block;
 	width: 26px;
 	height: 21px;
 	background: url(../images/reg_ico.png) no-repeat 0 4px;
 	vertical-align: -4px;
 }
 /*全局导航*/
 .body_home{
 	background: #bee1f5 url(../images/body_repeat.png) repeat-x;
 }
 .global_nav {
 	position: fixed;
 	top: 0;
 	left: 0;
 	z-index: 9999;
 	width: 100%;
 	height: 41px;
 	box-shadow: 0px 1px 3px 0px #000;
 	background: url(../images/bg_line.png) repeat-x center 38px;
 	
 }

 .global_nav .nav_bg{
 	font-size:14px;
 	width: 100%;
 	height: 39px;
 	background: url(../images/bg_nav.png) repeat-x;
 }
 .miniblog {
 	background-repeat: no-repeat;
 	background-position: center 0;
 	padding-top: 60px;
 	background-image: url(../images/body_bg.png);
 	min-width: 980px;
 }
 .miniblog_fb {
 	background: url(../images/footer.png) center bottom no-repeat;
 }
 .body_home .container{
 	width:980px;
 	margin:0 auto;
 	position: relative;
 }
 .global_nav .logo, .global_nav .nav{
 	display: inline-block;
 }
 .global_nav .logo a{
 	display: inline-block;
 	width: 150px;
 	height: 39px;
 	background: url(../images/WB_logo.png) -20px 0 no-repeat;
 }
 .global_nav .logo a:hover{
 	background-position: -20px -39px;
 }
 .global_nav .nav{

 	position: absolute;
 	top:0;
 }
 
 .global_nav .nav a{
 	display: inline-block;
 	padding: 11px 19px 11px 20px;
 	text-decoration: none;
 	color: #fff;
 	float:left;
 }
 .global_nav .nav a.current{
 	background: url(../images/bg_nav.png) repeat-x 0 -38px;
 }
 .global_nav .nav a:hover{
 	background: url(../images/bg_nav.png) repeat-x 0 -76px;
 }
 .global_nav .nav a .arrow{
 	border-width: 4px;
 	margin-left:3px;
 	vertical-align: -10px;
 	border-style: solid dashed dashed;
 	border-color: #fff transparent transparent;
 }
 .global_nav .search{
 	position: absolute;
 	left:450px;
 	line-height: 38px;
 	display: inline-block;

 }
 .global_nav .search input{
 	font-size:12px;
 	width: 218px;
 	border-radius: 15px;
 	height: 16px;
 	min-height:16px;
 	color:#808080;
 	padding-left:10px;
 }

 .global_nav .search input:hover{
 	color:#333;
 }

 .global_nav .search .btn{
 	position: absolute;
 	right:4px;
 	top:8px;
 	display: inline-block;
 	width: 20px;
 	height: 20px;
 	margin: 4px 0 0;
 	background: url(../images/bg_line.png) no-repeat;
 	background-position: -450px -6px;
 	vertical-align: top;
 }
 .global_nav .user {
 	position: absolute;
 	right:0;
 	top:0;
 	margin:0;
 	
 }
 .global_nav .user>li{
 	float:left;
 }
 .global_nav .user>li>a{
 	height:38px;
 	line-height: 38px;
 	padding:0 14px;
 	display: inline-block;
 	color:#fff;	
 	text-decoration: none;
 }
 .global_nav .user>li:hover{
 	background: url(../images/bg_nav.png) repeat-x 0 -76px;
 }

 .global_nav .user i{
 	vertical-align: middle;
 	background-image: url(../images/bg_line.png);
 	background-repeat: no-repeat;
 	width: 16px;
 	height: 16px;
 	display: inline-block;
 }
 .global_nav .user .editor i{
 	background-position: -225px -6px;
 }
 .global_nav .user .msg i{
 	background-position: -275px -6px;
 }
 .global_nav .user .setting i{
 	background-position: -350px -6px;
 }
 .global_nav .user .member i{
 	background-position: -400px -6px;
 }

 .global_nav .user .msg:hover i{
 	background-position: -325px -4px;
 }

 .global_nav .user .msg{
 	position: relative;
 }
 .global_nav .user .msg:hover{
 	background: #fff;
 }
 .global_nav .user .msg:hover ul{
 	display: block;
 }
 .global_nav .user .msg ul{
 	display: none;
 	position: absolute;
 	left:-107px;
 	background: #fff;
 	width:150px;
 	border:1px solid #333;
 	top:44px;
 }
 .global_nav .user .msg ul li{
 	padding:10px;
 }

 /**
 * 左导航
 */
 .body_home .container.main{
 	background: url(../images/repeat_bg_y.png) repeat-y;
 }
 .left_nav{
 	width: 150px;
 	overflow: hidden;
 	padding: 12px 0 30px;
 }
 .left_nav a{
 	display: inline-block;
 	width: 130px;
 	color:#333;
 	font-size:14px;
 	height: 35px;
 	line-height: 35px;
 	text-decoration: none;
 	padding-left:20px;
 }
 .left_nav a.curr{
 	background: #fff;
 }
 .left_nav  li a.curr i
 {
 	background-position: -25px -25px;
 }
 .left_nav .new{
 	width: 4px;
 	height: 4px;
 	display: inline-block;
 	border: 2px solid #fff;
 	border-radius: 4px;
 	background: #e43e3e;
 	box-shadow: 0px 0px 2px 1px rgba(100,100,100,0.5);
 	overflow: hidden;
 	float: right;
 	margin: 12px 8px 0 0;
 }
 .left_nav .goodfriend{
 	padding:10px 0;
 	border-top:1px solid #d9d9d9;
 }
 .left_nav .group a{
 	height: 28px;
 	line-height: 28px;
 }
 .left_nav a:not(.curr):hover{
 	background: #e6e6e6 url(../images/left_nav_border.png) -150px bottom no-repeat;
 }
 
 .left_nav fieldset{
 	border-color: #d9d9d9;
 	margin:0;
 	padding: 0 0 10px 15px;
 }

 .left_nav fieldset legend{
 	line-height: 22px;
 	font-weight: bold;
 	font-size: 12px;
 	padding: 1px 5px 0;
 }
 .left_nav ul li i {
 	display: inline-block;
 	width: 20px;
 	height: 20px;
 	background-image: url(../images/icon.png);
 	background-repeat: no-repeat;
 	margin-right: 10px;
 	vertical-align: -5px;
 }
 .left_nav ul i.ico_message {
 	background-position: 0 -25px;
 }
 .left_nav ul i.ico_favor {
 	background-position: 0 -50px;
 }
 .left_nav ul i.ico_sendtome {
 	background-position: 0 -75px;
 }

 .left_nav ul i.ico_goodfriend {
 	background-position: 0 -299px;
 }
 .left_nav ul i.ico_group {
 	background-position: 0 -124px;
 }

 .box_center{
 	padding:28px 0 30px;
 	width: 600px;
 	min-height: 800px;
 	overflow: hidden;
 }
 .box_center>div:first-child{
 	padding:0 20px 11px;
 }
 .box_center .title_area{
 	height:22px;
 	position: relative;
 	text-indent: -9999em;
 }
 .box_center .title_area s{
 	display: inline-block;
 	width: 224px;
 	height: 22px;
 	position: absolute;
 	left:0;
 	top:0;
 	right: 0;
 	bottom: 0;
 	background:url(../images/all_iconbtn.png) no-repeat;
 }
 .box_center div.input{
 	height: 88px;
 	position: relative;
 	border-radius: 3px;
 	margin: 15px 0 0;
 	background-color: #FFFFFF;
 	border: 1px solid #ccc;
 	box-shadow: 1px 1px 1px 0px #eaeaea inset;
 }
 .box_center div.clicked{
 	border-color:#ffb941;
 	box-shadow: 1px 1px 1px 0px #ddd inset;
 }
 .box_center .input_detail{
 	background: transparent;
 	width: 544px;
 	height: 74px;
 	padding: 5px;
 	font-family: "Tahoma", "SimSun";
 	font-size: 14px;
 	line-height: 18px;
 	overflow-x: hidden;
 	overflow-y: auto;
 	word-wrap: break-word;
 	outline: none;
 	border: 0;
 	margin: 2px 0 0 2px;
 	resize:none;
 }
 .box_center div.input .arrow{
 	display: block;
 	width: 11px;
 	height: 19px;
 	position: absolute;
 	top: 19px;
 	right: -11px;
 	background:url(../images/all_iconbtn.png) -475px 0 no-repeat;
 }
 /*微博发表成功提示*/
 .box_center .input .send_succpic{
 	display: block;
 	width: 135px;
 	height: 48px;
 	position: absolute;
 	top: 20px;
 	left: 220px;
 	overflow: hidden;
 }
 .box_center .input .send_succpic .icon_succB {
 	float: left;
 	width: 37px;
 	height: 50px;
 	background: url(../images/ico_warn.png) -100px 0 no-repeat;
 	margin: 0 10px 0 0;
 	overflow: hidden;
 	display: inline-block;
 }
 .box_center .input .send_succpic .txt {
 	color: #333;
 	display: block;
 	font: normal 16px/22px Microsoft Yahei;
 	margin-top: 12px;
 }
 .send_btn{
 	margin-top:5px;
 	border-width: 1px;
 	border-style: solid;
 	border-color: #e64141;
 	background-color: #e64141;
 	color: #fff;
 	border-radius: 2px;
 	display: inline-block;
 	overflow: hidden;
 	vertical-align: middle;
 	cursor: pointer;
 }
 .send_btn span{
 	display: inline-block;
 	width: 78px;
 	padding: 0;
 	text-align: center;
 	font-size: 16px;
 	font-family: "Microsoft Yahei";
 	text-shadow: 1px 1px rgba(0,0,0,.2);
 	border: 1px solid #f57373;
 	color: #fff;
 	border-radius: 2px;
 	height: 26px;
 	line-height: 26px;
 }
 .send_btn:not(.disable):hover span{
 	background:#F95959;
 	background-image: -webkit-linear-gradient(center top,#f95959 0%,#e74343 100%);
 }

 .send_btn.disable{
 	border-color: #d9d9d9;
 	background-color: #f2f2f2;
 }
 .send_btn.disable span{
 	border-color: #fff;
 	color:#ccc;
 	text-shadow: none;
 	background-color: #f2f2f2;;
 }
 .kind_detail{
 	font-size: 12px;
 	width: 390px;
 	padding: 10px 0 0;
 }
 .kind_detail a{
 	color:#333;
 	text-decoration: none;
 	margin-right: 14px;
 }
 .kind_detail a:hover{
 	color:#0a8cd2;
 }
 .kind_detail i{
 	display: inline-block;
 	height: 16px;
 	width: 16px;
 	margin-right: 4px;
 	vertical-align: -4px;
 	background:url(../images/icon.png) no-repeat;
 }
 .kind_detail i.icon_face{
 	background-position: -275px -0px;
 }
 .kind_detail i.icon_img{
 	background-position: -275px -25px;
 }
 .kind_detail i.icon_video{
 	background-position: -275px -50px;
 }
 .kind_detail i.icon_qing{
 	background-position: -275px -75px;
 }
 .kind_detail i.icon_chang{
 	background-position: -275px -100px;
 }

 .weibo .title h3{
 	padding: 0 10px;
 	line-height: 32px;
 	font-size: 14px;
 	border-bottom:2px solid #ea1429;
 }
 .weibo .title h3 +.bg{
 	position: relative;
 	top: -22px;
 	width: 44px;
 	height: 8px;
 	background:#fafafa url(../images/icon.png) no-repeat -500px -75px;
 	font-size: 0;
 }
 .weibo_type {
 	margin-top:-10px;
 }
 .weibo_type a{
 	font-size:12px;
 	line-height: 22px;
 	border-radius: 2px;
 	display: inline-block;
 	padding:0 10px;
 	text-decoration: none;

 }
 .weibo_type a:not(.active):hover{
 	text-decoration: underline;
 }
 .weibo_type a.active{
 	background:#e6e6e6;
 	color:#333;
 	cursor:default;
 }
 .weibo_list a.notes
 {
 	font-size:12px;
 	background: #fefded;
 	color: #F48C12;
 	border: 1px solid #f9f2a7;
 	display: block;
 	height: 23px;
 	line-height: 23px;
 	text-align: center;
 }
 .weibo_list .item{
 	font-size:14px;
 	border-bottom: 1px solid #e6e6e6;
 	padding: 0 0 11px;
 	overflow: hidden;
 	padding-top:20px;
 }
 .weibo_list .item .face{
 	float: left;
 	width: 50px;
 	position: relative;
 }
 .weibo_list .item .detail{
 	color: #333;
 	margin-left:65px;
 	padding:4px 0px;
 }
 .weibo_list .item .detail .name{
 	font-weight: 700;
 	text-decoration: none;
 	color:#333;
 }
 .weibo_list .item .detail .content{
 	font-size: 14px;
 	line-height: 23px;
 	padding: 4px 0 4px;
 }
 .weibo_list .item .detail .media_prev {
 	margin-right: -20px;
 	padding-bottom: 10px;
 }
 .weibo_list .item .detail .media_prev img{
 	cursor:url(../images/big.cur), auto!important;
 }
 .weibo_list .item .detail .func{
 	font-size: 12px;
 }
 .weibo_list .item .detail .func i{
 	margin: 0 6px 0 8px;
 }
 .weibo_list .item .detail .left a{
 	color:#6CBAE4;
 }
 .weibo_list .item .detail .func .time{
 	margin-right: 7px;
 }
 .weibo_list .item .detail .func .icon_praised_b{
 	display: inline-block;
 	width: 13px;
 	height: 14px;
 	background-image:url(../images/icon.png);
 	background-position: -75px 0;
 	vertical-align: text-bottom;
 }
 .weibo_list .item .detail .forwardContent{
 	border: 1px solid #d9d9d9;
 	padding: 10px 20px 10px;
 	margin: 5px 0 15px;
 	border-radius: 3px;
 	background-color:#f2f2f2;
 }
 .weibo_list .item .detail .forwardContent .name{
 	font-size:12px;
 }
 .weibo_list .item .detail .forwardContent .content{
 	font-size:12px;
 	line-height: 21px;
 }
 .weibo_list .item .detail .forwardContent .func a{
 	color:#6cbae4;
 }

 /*右侧边栏*/

 .box_right{
 	width: 230px;
 	padding: 20px 0 0;
 	position: relative;
 	font-size:12px;
 	position: relative;
 }
 .set_skin{
 	background:url(../images/icon.png) no-repeat -477px 0px;
 	display: block;
 	width: 23px;
 	height: 24px;
 	position: absolute;
 	right: 0px;
 	top: 0px;
 }
 .set_skin:hover{
 	background-position: -477px -25px;
 }
 .box_right .user_info{
 	padding:0 20px;
 }
 .box_right .user_info div{
 	float: right;
 	width:99px;
 	height: 80px;
 	font-size: 12px;
 	font-weight: bold;
 	margin:5px 0 0 8px;
 }
 .box_right .user_info div a{
 	word-wrap: break-word;
 	color:#333;
 	text-decoration: none;
 }
 .box_right .user_info div a:hover{
 	color:#0a8cd2;
 }
 .box_right .user_info div .level{
 	margin-top:3px;
 	display: inline-block;
 	overflow: hidden;
 	height: 9px;
 	width: 28px;
 	font-size: 0px;
 	padding: 5px 0px 0px 6px;
 	background: url(../images/level.png) no-repeat 0 -30px;
 }
 .box_right .user_info div .level span{
 	display: inline-block;
 	height: 10px;
 	font-size: 0px;
 	width: 26px;
 	background: url(../images/level.png) no-repeat 0px -210px;
 }
 .box_right  .user_atten{
 	padding: 20px;
 }
 .box_right  .user_atten li:not(:last-of-type){
 	float:left;
 	margin-right: 5px;
 	padding-right: 5px;
 	border-right:1px solid #e6e6e6;
 }
 .box_right  .user_atten li a{
 	color:#333;
 	text-decoration: none;
 }
 .box_right  .user_atten li a:hover{
 	color:#0a8cd2;
 }
 .box_right  .user_atten li strong{
 	display: block;
 	font-size: 20px;
 	margin: 0px 0px 4px;
 	font-weight: 400;
 	line-height: 15px;
 	font-family: tahoma;
 }

 .box_right .hot_topics fieldset{
 	border-color: #e6e6e6;
 	margin:0;
 	padding: 0 0 10px 15px;
 }

 .box_right .hot_topics fieldset legend{
 	line-height: 22px;
 	font-weight: bold;
 	font-size: 14px;
 	padding: 1px 5px 0;
 }
 .box_right .hot_topics ul{
 	line-height: 24px;
 	padding:0 20px;
 }
 .box_right .hot_topics ul li{
 	position: relative;
 }
 .box_right .hot_topics ul span{
 	position: absolute;
 	right: 0;
 	top:0px;
 }
 .gotop{
 	width: 22px;
 	display: block;
 	background:#f2f2f2;
 	border:1px solid #ccc;
 	position: absolute;
 	left:50%;
 	bottom:100px;
 	margin-left: 490px;
 	position: fixed;
 }
 .gotop:hover{
 	color:#808080;
 	text-decoration: none;
 }
 .gotop span{
 	display: block;
 	border: 1px solid #fff;
 	height: 73px;
 	width: 20px;
 	padding-top: 10px;
 	text-decoration: none;
 	cursor: pointer;
 	line-height: 12px;
 	text-align: center;
 	font-size:12px;
 }
 .gotop .icon_gotop{
 	display: inline-block;
 	width: 12px;
 	height: 12px;
 	background:url(../images/icon.png) no-repeat -75px -100px;
 }
 .gotop:hover .icon_gotop{
 	background-position: -100px -100px;
 }
 /*用户个人主页*/
 .body_index{
 	background-color:#bee1f5;
 }
 .body_index .container{
 	width: 980px;
 	position: relative;
 	background: #fff;
 }

 .body_index .miniblog{
 	padding-top:40px;
 }
 .body_index .profile_pic_top{
 	height: 300px;
 	position: relative;
 	background-position: center bottom;
 	background-repeat: no-repeat;
 }
 .body_index .user_info{
 	position: relative;
 	/*background:#fff;*/
 	padding-bottom: 30px;
 }
 .body_index .user_info .head{
 	position: absolute;
 	top: -108px;
 	left: 20px;
 	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
 	background:#fafafa;
 	padding:2px;
 }
 .body_index .user_info .avatar{
 	display: block;
 }
 .body_index .user_info .user_atten{
 	margin:5px 0 4px 0;
 }

 .body_index .user_info .user_atten li:not(:last-of-type){
 	float:left;
 	margin-right: 5px;
 	padding: 0 3px 3px;
 	text-align: center;
 	width: 53px;
 	border-right:1px solid #e6e6e6;
 }
 .body_index .user_info .user_atten li a{
 	color:#333;
 	text-decoration: none;
 }
 .body_index .user_info .user_atten li a:hover{
 	color:#0a8cd2;
 }
 .body_index .user_info .user_atten li strong{
 	font-size: 20px;
 	line-height: 20px;
 	display: block;
 	margin-bottom: 5px;
 	font-family: Tahoma;
 	font-weight: 400;
 }
 .body_index .user_info .info{
 	margin-left: 225px;
 	line-height: 22px;
 	padding-top: 10px;
 	position: relative;
 }
 .body_index .user_info .info p{
 	margin:0;
 }
 .body_index .user_info .info span.name{
 	font: normal 20px/30px "Microsoft Yahei";
 	margin-right: 3px;
 }

 .body_index .user_info .level{
 	margin-top:3px;
 	display: inline-block;
 	overflow: hidden;
 	height: 9px;
 	width: 28px;
 	font-size: 0px;
 	padding: 5px 0px 0px 6px;
 	background: url(../images/level.png) no-repeat 0 -30px;
 }
 .body_index .user_info .level span{
 	display: inline-block;
 	height: 15px;
 	font-size: 0px;
 	width: 26px;
 	background: url(../images/level.png) no-repeat 0px -210px;
 }
 .body_index .user_info p i{
 	margin: 0 9px 0 5px;
 	color:#d9d9d9;
 }
 .body_index .user_info p .male{
 	display: inline-block;
 	width:13px;
 	height: 13px;
 	vertical-align: -2px;
 	background: url(../images/bg_line-x2.png) no-repeat 0px -6px;
 	background-size: 2000px 43px;
 }
 .body_index .user_info p.edit a{
 	display: inline-block;
 	border-width: 1px;
 	border-style: solid;
 	border-radius: 2px;
 	vertical-align: middle;
 	cursor: pointer;
 	border-color: #d9d9d9;
 	background-color: #f2f2f2;

 }
 .body_index .user_info p.edit span{
 	padding: 0 9px 0 10px;
 	white-space: nowrap;
 	display: inline-block;
 	border-style: solid;
 	border-width: 1px;
 	border-radius: 2px;
 	height: 18px;
 	line-height: 18px;
 	border-color: #ffffff;
 	color: #333333;
 }
 /*个人主页tab导航*/
 .core_nav{
 	/*background:#fff;*/
 	border-bottom-width: 1px;
 	border-bottom-style: solid;
 	height: 49px;
 	padding-left: 20px;
 	border-color: #d9d9d9;
 	font: normal 16px/40px "Microsoft Yahei";
 	background: url(../images/profile_tab.png) repeat-x;
 }
 .core_nav li {
 	position: relative;
 	float: left;
 	border-width: 1px;
 	border-style: solid;
 	border-right-width: 0;
 	height: 48px;
 	border-color: #d9d9d9;
 	background:#f2f2f2;
 }
 .core_nav li.current{
 	background:#fff;
 }
 .core_nav li.current a{
 	border-bottom: none;
 	padding:8px 0px 3px;
 	background: #fff;
 }
 .core_nav li:last-of-type{
 	border-right-width: 1px;

 }

 .core_nav li a{
 	display: block;
 	width: 116px;
 	height: 38px;
 	padding: 8px 0 0;
 	border:1px solid #fff;
 	line-height: 27px;
 	text-align: center;
 	color: #333;
 	text-decoration: none;
 }
 .container .wrap{
 	padding: 19px 20px 20px;
 }
 .tab_radious{
 	margin:0;
 	padding-bottom: 5px;
 	border-bottom: 1px solid rgb(230, 230, 230);
 	position: relative;
 }
 .tab_radious a{
 	display: inline-block;;
 	margin: 0px 8px 0px 0px;
 	line-height: 22px;
 	text-align: center;
 	font-size: 14px;
 	color:#333;
 }
 .tab_radious .tabarrow{
 	position: absolute;
 	display:block;
 	width: 30px;
 	height: 8px;
 	left:0;
 	top:22px;
 	background: #fff url(../images/all_iconbtn.png) -410px 0px no-repeat;
 }
 .tab_radious  i{
 	line-height: 22px;
 	margin-right: 8px;
 }
 /*博文*/
 .wrap .main{
 	width: 560px;
 }
 .feed_self .item{
 	padding: 20px 0px 0px;
 	border-bottom: 1px solid rgb(230, 230, 230);
 }
 .feed_self .detail{
 	padding-bottom: 11px;
 }
 .feed_self .item .content{
 	font-size: 14px;
 	line-height: 23px;
 	padding: 4px 0 4px;
 }
 .feed_self .item .media_prev {
 	margin-right: -20px;
 	padding-bottom: 10px;
 }
 .feed_self .item .media_prev img{
 	cursor:url(../images/big.cur), auto!important;
 }

 .feed_self  .item .detail .func{
 	font-size: 12px;
 }
 .feed_self  .item .detail .func i{
 	margin: 0 6px 0 8px;
 }
 .feed_self .item .detail .func .time{
 	margin-right: 7px;
 }
 .feed_self  .item .detail .func .icon_praised_b{
 	display: inline-block;
 	width: 13px;
 	height: 14px;
 	background-image:url(../images/icon.png);
 	background-position: -75px 0;
 	vertical-align: text-bottom;
 }
 /*消息页面*/
 .box_center div.title{
 	margin: 0px 20px;
 	border-bottom: 2px solid rgb(234, 20, 41);
 	padding:0px 0px 8px 0;
 	font-size:14px;
 	font-weight: bold;
 	color: #333;
 }
 .box_center .tab_normal{
 	margin: 0px 20px;
 	padding: 10px 0px 6px;
 }
 .box_center .tab_normal .left a{
 	display: inline-block;
 	color:#333;
 	border-radius: 2px;
 	border:1px solid #ccc;
 	background: rgb(242, 242, 242);
 	margin-right: 10px;
 	
 }
 .box_center .tab_normal .left span{
 	padding: 0px 9px 0px 10px;
 	white-space: nowrap;
 	display: inline-block;
 	border-style: solid;
 	border-width: 1px;
 	border-radius: 2px;
 	height: 18px;
 	line-height: 18px;
 	border-color: #fff;
 }
 .box_center .tab_normal .left span .icon_mes{
 	display: inline-block;
 	width: 12px;
 	height: 9px;
 	overflow: hidden;
 	background: url(../images/msg_icon.png) no-repeat;
 	margin-right: 2px;
 }

 .box_center .tab_normal .left a:hover{
 	background: rgb(255, 206, 130);
 	color:#fff;
 	border-color: rgb(255, 155, 1);
 	background-color: rgb(255, 160, 10);
 }
 .box_center .tab_normal .left a:hover .icon_mes{
 	background-position: -18px 0px;
 }
 .box_center .tab_normal .left a:hover span{
 	border-color: rgb(255, 206, 130);
 }
 .box_center .tab_normal .icon_lock{
 	display: inline-block;
 	width: 16px;
 	height: 16px;
 	background: url(../images/msg_icon.png) -35px -70px no-repeat;
 	vertical-align: -2px;
 }
 .box_center .tab_normal .set{
 	margin-left:10px;
 }
 .box_center .msg_list .item{
 	border-bottom:1px solid rgb(230, 230, 230);
 	margin: 0 20px;
 	padding:20px 0;
 }
 .box_center .msg_list .avatar{
 	float: left;
 }
 .box_center .msg_list .msg_main{
 	margin-left: 65px;
 	height: 50px;
 	overflow: hidden;
 	font-size: 14px;
 	position: relative;
 }
 .msg_main .msg_title{
 	font-weight: 700;
 	margin-bottom: 5px;
 	color:#333;
 }
 .msg_main .msg_detail{
 	line-height: 30px;
 	white-space: nowrap;
 	text-overflow: ellipsis;
 	overflow: hidden;
 	margin-right: 2em;
 }
 .msg_main .msg_time{
 	position: absolute;
 	top:0;
 	right: 0;
 	font-size: 12px;
 }
 .box_center .msg_list{
 	/*margin:20px;*/
 }
 /*------------*/
 .box_right{
 	padding:30px 0px;
 }
 .box_right .title{
 	font-weight: bold;
 	font-size:14px;
 	color:#333;
 }
 .box_right  .qa{
 	margin: 0px 20px;
 	line-height: 22px;
 	padding: 15px 0px 0px;
 }
 .qa .ico_q{
 	float: left;
 	width: 18px;
 	height: 17px;
 	text-align: center;
 	margin: 3px 0px 0px;
 	background: url(../images/icon.png) -125px 0px no-repeat;
 }
 .box_right .qa:last-child{
 	margin-right: 10px;
 }
 .box_right .item{
 	margin-bottom: 20px;
 }
 /*公共脚模板*/
 .global_footer{
 	margin:0 auto;
 	margin-top:10px;
 	width: 980px;
 	height: 208px;
 	background:#fff url(../images/global_footer.gif);
 }