/**	
 *===============
 * 皮肤1 绿色
 *===============
 */

/*主文字*/
body{
	color:#33463f;
}
/*主链接*/
a,.S_func1:hover{
	color:#49976b;
}
/*次链接*/
.S_link2,.S_func2:hover{
	color: #7cb4a3;
}
/*转发次链接*/
.S_func2{
	color: #7cb4a3;
}