/**	
 *===============
 * 皮肤2 粉红
 *===============
 */

/*主文字*/
body{
	color:#595959;
}
/*主链接*/
a,.S_func1:hover{
	color:#da5882;
}
/*次链接*/
.S_link2,.S_func2:hover{
	color: #f453b0;
}
/*转发次链接*/
.S_func2{
	color: #eac1ca;
}