/**	
 *===============
 * 皮肤5 黄色
 *===============
 */

/*主文字*/
body{
	color:#423009;
}
/*主链接*/
a,.S_func1:hover{
	color:#8e6934;
}
/*次链接*/
.S_link2,.S_func2:hover{
	color: #90897a;
}
/*转发次链接*/
.S_func2{
	color: #a19680;
}